@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-4px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -2px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-4px, 1px) rotate(0deg); }
  70% { transform: translate(4px, 1px) rotate(-3deg); }
  80% { transform: translate(-2px, -1px) rotate(3deg); }
  90% { transform: translate(1px, 2px) rotate(1deg); }
  100% { transform: translate(0px, 0px) rotate(0); }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}