@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-2deg); }
  20% { transform: translate(-4px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -2px) rotate(2deg); }
  50% { transform: translate(-1px, 2px) rotate(-3deg); }
  60% { transform: translate(-4px, 1px) rotate(0deg); }
  70% { transform: translate(4px, 1px) rotate(-3deg); }
  80% { transform: translate(-2px, -1px) rotate(3deg); }
  90% { transform: translate(1px, 2px) rotate(1deg); }
  100% { transform: translate(0px, 0px) rotate(0); }
}

@keyframes fadeInLeft {
  from {
    visibility: visible;
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes boxShadow {
  to {
    box-shadow: 0 0 0 1.5rem rgba(0,0,0,.01);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: visible;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.animation-fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
}

.animation-fade-in-left {
  visibility: visible !important;
  animation-name: fadeInLeft;
  animation-duration: 1s;
}

.animation-fade-in-right {
  visibility: visible !important;
  animation-name: fadeInRight;
  animation-duration: 1s;
}