// Sizing/spacing
$size-4: .4rem;
$size-8: .8rem;
$size-12: 1.2rem;
$size-16: 1.6rem;
$size-24: 2.4rem;
$size-32: 3.2rem;
$size-48: 4.8rem;
$size-64: 6.4rem;
$size-96: 9.6rem;
$size-128: 12.8rem;
$size-152: 15.2rem;
$size-192: 19.2rem;
$size-256: 25.6rem;
$size-384: 38.4rem;
$size-512: 51.2rem;
$size-640: 64rem;
$size-768: 76.8rem;

// Font sizes
$font-size-12: 1.2rem;
$font-size-13: 1.3rem;
$font-size-14: 1.4rem;
$font-size-15: 1.5rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-22: 2.2rem;
$font-size-24: 2.4rem;
$font-size-30: 3rem;
$font-size-32: 3.2rem;
$font-size-34: 3.4rem;
$font-size-46: 4.6rem;
$font-size-48: 4.8rem;
$font-size-56: 5.6rem;
$font-size-100: 10rem;

// Fonts
$font-family-ico: 'IcoFont';
$font-family: 'Poppins', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;
$font-family-georgia: Georgia, 'Times New Roman', serif; // TODO To remove probably

// Colors
$primary: #610BEF;
$secondary: #130B37;
$hover: #8DE9FF;

// - Primary indigo
$indigo-100: #BFBEFC;
$indigo-400: $primary;
$indigo-600: #4700AB;

// - Secondary navy
$navy-400: $secondary;
$navy-500: #14142B;
$navy-600: #262338;
$navy-800: #4E4B66;

// - Primary dark
$dark-100: #000;
$dark-200: #151515;
$dark-300: #181818;
$dark-400: #212121;
$dark-500: #2e2e2e;
$dark-600: #333842;
$dark-700: #4F4F4F;

// - Light
$light-100: #fff;
$light-175: #f3f3f3;

$light-125: #EBECFE;
$light-150: #EFF0F7;
$light-200: #F7F7FC;
$light-300: #FCFCFC;
$light-400: #D9D9D9;
$light-500: #A0A3BD;
$light-600: #9A99AD;

$light-650: #828282;
$light-700: #999;
$light-800: #bbb;
$light-900: #adadad;

// - Teal
$teal-100: #1b95e0;
$teal-200: #2186c3;
$teal-300: #3ba4fe;
$teal-400: #256fbe;
$teal-600: #00acff;
$teal-700: #2F80ED;

// - Pink
$pink-100: #e91e63;
$pink-200: #d33067;
$pink-300: #ff2b70;
$pink-400: #ff548d;

// - Purple
$purple-100: #8A3CFF;

// yellow
$yellow: #f6df4b;
$yellow-100: #FEFCBF;
$yellow-200: #FAF089;
$yellow-300: #F6E05E;
$yellow-400: #ECC94B;

// green
$green-100: #C6F6D5;
$green-200: #9AE6B4;
$green-300: #68D391;
$green-400: #48BB78;

$twitter: #1da1f2;
$facebook: #66679d;
$chat: $teal-300;

$white: #fff;
$font-color: $dark-200;

// - Z-indexes
$z-index-100: 100;
$z-index-200: 200;
$z-index-300: 300;
$z-index-400: 400;
$z-index-500: 500;

// Alerts
$danger: #DC4B4B;

// Box shadows
$box-shadow: 0 -2px 6px hsla(220, 47%, 48%, .15);

// Transitions
$transition-time: .3s;
$transition-type: ease-in-out;
$transition-default: $transition-time all $transition-type;

// Container gap
$container-gap: 2rem;