// RENAME IT TO RWD etc.

@import 'variables';
@import 'third-parties/odometer';

@media (min-width: 420px) {
  .author-specs {
    position: static;
  }

  .author-header-bio {
    padding-top: 0;
    padding-left: 1.5rem;
  }

  .author-header {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 1.6rem;

    [class^='icofont-'] {
      font-size: 1.8rem;
    }
  }

  .button-small {
    font-size: 1.4rem;
  }

  blockquote {
    margin: 1rem 2rem 3rem;
  }

  main {
    padding-top: 8rem;
    min-height: calc(100vh - 30rem);
  }

  .footer {
    height: 6rem;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-navigation {
    padding-top: 0;
    padding-left: 4rem;
  }

  .slack {
    position: sticky;
    top: 80px;
  }

  .slack-text {
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .subscribe img {
    display: flex;
    width: 20rem;
  }

  .subscribe-content {
    align-items: center;
  }

  .subscribe-text p {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .subscribe-content {
    padding: 3rem 0;
  }

  .custom-subscribe img {
    display: flex;
    width: 20rem;
  }

  .custom-subscribe-content {
    align-items: center;
  }

  .custom-subscribe-text p {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .custom-subscribe-content {
    padding: 3rem 0;
  }

  .article-meta {
    display: flex;
    align-items: center;
  }

  ul.article-tag-list {
    margin-top: 0;
    padding-left: 2rem;
  }

  .article {
    width: calc(100% - 8rem);
  }

  .article-share {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 16rem;
    height: 100%;
    margin-left: 2rem;
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .article-share-list {
    flex-direction: column;
  }

  .article-wrapper {
    display: flex;
  }

  .pagination {
    align-items: center;
  }

  .page-number {
    display: flex;
    padding: 1rem;
  }

  .current {
    font-weight: 700;
  }

  .thank-you {
    .thank-you-wrapper {
      h3 {
        font-size: $font-size-34;
        margin-bottom: 3rem;
      }
    }

    .thank-you-information {
      display: block;
      font-size: $font-size-24;
      line-height: 1.5;

      span {
        font-weight: 700;
        border-bottom: .2rem dashed $pink-300;
      }
    }
  }

  .cookie-consent {
    left: auto;
  }

  .course-image img {
    max-width: 50%;
  }

  .related-post {
    flex-direction: column;
  }

  .related-post-close {
    transition: $transition-default;

    &:hover {
      cursor: pointer;
      color: $light-100;
    }
  }

  .related-posts {
    min-width: 34rem;
    max-width: 36rem;
    left: auto;
  }

  .related-post-meta {
    display: flex;
    padding-left: 1rem;
    padding-right: 4rem;
    flex-direction: column;
    line-height: 2rem;
  }

  .related-post-footer {
    padding-left: 0;
  }

  .authors-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .author {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  main,
  .footer {
    padding-left: 28rem;
  }

  main {
    min-height: calc(100vh - 6rem);
  }

  .footer {
    background-color: $dark-400;
  }

  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 8rem;
    left: 0;
    height: calc(100% - 8rem);
    width: 28rem;
    padding: 3rem 2rem 6rem;

    &:before {
      content: '';
      display: flex;
      height: 3rem;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(0,0,0,0) 0, rgba(0,0,0,.23) 100%);
    }
  }

  .sidebar-info {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: $light-100;
    background: $dark-300;
    border-top: 2px solid $teal-200;
    font-size: 1.8rem;
    text-align: center;
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) 13s both;

    p {
      color: $light-300;
      line-height: 2.4rem;
    }

    &.checklist {
      position: static;
      padding: 15px 0 0 0;

      .sidebar-checklist-image {
        margin-top: 15px;
        display: block;
      }
    }

    .checklist-link {
      display: block;
    }
  }

  .sidebar-author {
    flex-direction: column;
    align-items: center;
    background: $dark-300;
    border-top: 2px solid $teal-200;
    padding: 2rem;
  }

  .sidebar-author-details {
    margin-left: 0;
    text-align: center;

    .button {
      font-size: 1.6rem;
      width: 100%;
    }
  }

  .sidebar-author-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .sidebar-author-name {
    padding-top: 1.5rem;
  }

  .article-page {
    padding: 6rem 0;
  }

  .thank-you {
    .sidebar {
      display: none;
    }

    .footer,
    main {
      padding-left: 0;
    }

    .article {
      width: 100%;
    }
  }

  .header-nav-toggle {
    display: none;
  }

  .header-nav {
    display: block;
    padding: 0;

    ul {
      display: flex;
    }
  }

  .header-nav-link {
    padding-left: 3rem;
  }

  .header-nav-item-courses {
    display: list-item;
  }

  .header-nav-link-mobile {
    display: none;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
    height: 8rem;
    align-items: center;
  }

  .header-title {
    display: flex;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      font-size: 2.2rem;
      font-weight: 700;
      padding-left: 1rem;
      margin-bottom: 0;

      small {
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
        color: $light-700;
      }

      a {
        color: $light-200;
      }
    }
  }

  .header-logo {
    align-self: center;
  }

  .header-title {
    > a {
      position: static;
    }
  }

  .authors-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1180px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }

  .authors-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .container {
    width: 98rem;
  }
}