// RENAME IT TO RWD etc.

@import 'variables';
@import 'third-parties/odometer';

@media (min-width: 420px) {
  .author-specs {
    position: static;
  }

  .author-header-bio {
    padding-top: 0;
    padding-left: 1.5rem;
  }

  .author-header {
    flex-direction: row;
  }
}

@media (min-width: 480px) {
  .author-info {
    flex-direction: row;
  }

  .author-info-left,
  .author-info-right {
    flex: 0 0 auto;
  }

  .author-info-left {
    flex-basis: 40%;
    padding-right: 2rem;
  }

  .author-info-right {
    flex-basis: 60%;
    padding-left: 2rem;
  }
}

@media (min-width: 630px) {
  .author-short-info {
    padding: 5rem;
    display: flex;
  }

  .author-short-info-desc {
    padding-left: 3rem;
    padding-top: 0;
  }
}

@media (min-width: 768px) {
  .author-motto {
    padding-top: 7rem;
  }

  .author-joined {
    font-size: 1.6rem;
  }

  .author-info-left {
    padding-right: 7rem;
  }

  .author-info-right {
    padding-left: 7rem;
    padding-top: 3rem;

    &:before {
      content: '';
      width: .1rem;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: $light-300;
    }
  }

  .button {
    font-size: 1.6rem;

    [class^='icofont-'] {
      font-size: 1.8rem;
    }
  }

  .button-small {
    font-size: 1.4rem;
  }

  .slack {
    position: sticky;
    top: 80px;
  }

  .slack-text {
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .subscribe img {
    display: flex;
    width: 20rem;
  }

  .subscribe-content {
    align-items: center;
  }

  .subscribe-text p {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .subscribe-content {
    padding: 3rem 0;
  }

  .custom-subscribe img {
    display: flex;
    width: 20rem;
  }

  .custom-subscribe-content {
    align-items: center;
  }

  .custom-subscribe-text p {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .custom-subscribe-content {
    padding: 3rem 0;
  }

  .pagination {
    align-items: center;
  }

  .page-number {
    display: flex;
    padding: 1rem;
  }

  .current {
    font-weight: 700;
  }

  .thank-you {
    .thank-you-wrapper {
      h3 {
        font-size: $font-size-34;
        margin-bottom: 3rem;
      }
    }

    .thank-you-information {
      display: block;
      font-size: $font-size-24;
      line-height: 1.5;

      span {
        font-weight: 700;
        border-bottom: .2rem dashed $pink-300;
      }
    }
  }

  .cookie-consent {
    left: auto;
  }

  .course-image img {
    max-width: 100%;
  }

  .related-post {
    flex-direction: column;
  }

  .related-post-close {
    transition: $transition-default;

    &:hover {
      cursor: pointer;
      color: $light-100;
    }
  }

  .related-posts {
    min-width: 34rem;
    max-width: 36rem;
    left: auto;
  }

  .related-post-meta {
    display: flex;
    padding-left: 1rem;
    padding-right: 4rem;
    flex-direction: column;
    line-height: 2rem;
  }

  .related-post-footer {
    padding-left: 0;
  }

  .authors-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .author {
    margin-bottom: 0;
  }

  // new styles
  body {
    font-size: $font-size-18;
  }

  p {
    line-height: 3.2rem;
  }

  h1 {
    font-size: $font-size-46;
  }

  h2 {
    font-size: $font-size-34;
  }

  h3 {
    font-size: $font-size-24;
  }

  blockquote {
    font-size: $font-size-18;
  }

  .toc > ul {
    padding-left: 5rem;
  }

  .footer-privacy {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer-privacy-navigation {
    font-size: $font-size-15;

    a:hover {
      color: $light-200;
    }

    li + li:before {
      top: .6rem;
    }
  }

  .footer-navigation-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .footer-navigation-column {
    ul a:hover {
      color: $hover;
    }
  }

  .article-header h1 {
    font-size: $font-size-46;
  }

  .author-academies li {
    font-size: $font-size-16;
  }

  .author-short-info .author-academies li {
    font-size: $font-size-18;
    line-height: 2.4rem;
  }

  .article-comments-wrapper {
    .button {
      width: 85%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 992px) {
  .article-page {
    padding: 6rem 0;
  }

  .thank-you {
    .article {
      width: 100%;
    }
  }

  .authors-list {
    grid-template-columns: repeat(1, 1fr);
  }

  // new styles
  .footer-navigation-columns {
    grid-template-columns: repeat(4, 1fr);

    .footer-navigation-column:last-of-type {
      padding-left: 6rem;
    }
  }

  .header {
    position: static;
    height: 10.5rem;
    transition: all 0.3s ease-in-out;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-sticky {
    position: sticky;
    animation: fadeIn 0.3s;
  }

  .header-menu {
    display: flex;
    padding: 2.5rem 0;
  }

  .header-nav-toggle {
    display: none;
  }

  .header-title {
    display: flex;
    align-items: center;

    > a {
      width: auto;
      top: 0;
    }

    div {
      display: block;
    }
  }

  .header-bar {
    min-height: auto;
  }

  .header-nav {
    display: flex;
    padding: 0;
    position: relative;

    ul {
      display: flex;
      align-items: center;
    }
  }

  .header-nav-link {
    padding: 1.5rem;
    border: 0;
  }

  .header-nav-link-submenu {
    padding-right: 4.5rem;

    &:after {
      right: 1rem;
    }
  }

  .header-nav-link-content {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: $navy-800;
    padding: 3rem 4rem;
    border-radius: 1rem;
    border-bottom: 0;

    ul {
      display: block;

      li {
        padding-bottom: 1rem;
      }
    }

    .header-nav-link {
      font-size: $font-size-18;
      font-weight: 400;
      padding: 0;
    }
  }

  .header-nav-link-header {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: $light-200;
    line-height: 3.2rem;
    margin-bottom: 2rem;
    position: relative;
  }

  .header-nav-link-description {
    color: $light-200;
    font-size: $font-size-13;
  }

  .header-socials {
    margin-bottom: 0;
    margin-left: 1rem;

    li {
      margin: 0 1rem;
      display: flex;
      align-items: center;
    }

    li:last-of-type {
      margin-right: 0;
    }
  }

  .header-socials,
  .header-nav-link-description {
    display: flex;
  }

  .header-logo {
    display: flex;
    align-items: center;

    span {
      display: flex;
      padding-left: 1.5rem;
      letter-spacing: .075rem;
      font-weight: 600;
      color: $light-100;
      font-size: $font-size-15;
    }

    img {
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  .header-nav-submenu:hover {
    .header-nav-link-submenu {
      &:after {
        width: 2.4rem;
        background-image: url('/img/icons/chevron-up.svg');
      }
    }

    .header-nav-link-content {
      display: block;
      animation: fadeIn .5s;
    }
  }

  .header-bar-start {
    display: none;
  }

  .article-share {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 12rem;
    right: 0;
    padding-top: .5rem;
    padding-bottom: 0;
    background: $light-400;
    border-radius: .4rem;
  }

  .header-nav-start {
    display: flex;
  }

  .article-share-list {
    flex-direction: column;

    a {
      padding: 1.4rem 1.6rem;
    }
  }

  .article-header {
    padding-top: 4rem;
  }

  .article-wrapper .container {
    width: 84rem;
  }
}

@media (min-width: 1180px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }

  .authors-list {
    grid-template-columns: repeat(2, 1fr);
  }

  // New styles
  .header-nav-link {
    padding: 1.5rem 4rem;
  }

  .header-nav-link-submenu {
    padding-right: 5rem;

    &:after {
      right: 1.5rem;
    }
  }
}

@media (min-width: 1390px) {
  .container {
    width: 124rem;
  }

  .article-content-wrapper {
    display: flex;
  }

  .article-sidebar {
    position: sticky;
    top: 34rem;
    width: 24rem;
    height: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25rem;
    padding-left: 4rem;
  }

  .article-sidebar-content {
    background-color: $light-400;
    border-radius: .8rem;
    height: 30rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  .article-wrapper .container {
    width: 109rem;
    margin-left: calc(50% - 40rem);
  }

  .article-header,
  .article-footer-wrapper {
    .container {
      width: 84rem;
    }
  }
}