// RENAME IT TO RWD etc.

@import 'variables';
@import 'mixins';
@import 'third-parties/odometer';

@media (min-width: 420px) {
  .contributor-specs {
    position: static;
  }

  .contributor .contributor-contribution-level {
    font-size: $font-size-14;

    &.contributor-contribution-level-highlighted {
      &.contributor-contribution-level-beginner span:nth-child(1),
      &.contributor-contribution-level-advanced span:nth-child(2),
      &.contributor-contribution-level-expert span:nth-child(3) {
        font-size: $font-size-16;
      }
    }
  }

  .post-idea-header {
    font-size: $font-size-24;
  }
}

@media (min-width: 630px) {
  .contributor-short-info {
    padding: 5rem;
    display: flex;
  }

  .contributor-short-info-desc {
    padding-left: 3rem;
    padding-top: 0;
  }

  .contributors-ready-right {
    display: flex;
  }
}

@media (min-width: 768px) {
  .contributor-joined {
    font-size: 1.6rem;
  }

  .button {
    font-size: 1.6rem;

    [class^='icofont-'] {
      font-size: 1.8rem;
    }
  }

  .button-small {
    font-size: 1.4rem;
  }

  .slack {
    position: sticky;
    top: 80px;
  }

  .slack-text {
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .subscribe img {
    display: flex;
    width: 20rem;
  }

  .subscribe-content {
    align-items: center;
  }

  .subscribe-text p {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .subscribe-content {
    padding: 3rem 0;
  }

  .custom-subscribe img {
    display: flex;
    width: 20rem;
  }

  .custom-subscribe-content {
    align-items: center;
  }

  .custom-subscribe-text p {
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .custom-subscribe-content {
    padding: 3rem 0;
  }

  .thank-you {
    .thank-you-wrapper {
      h3 {
        font-size: $font-size-34;
        margin-bottom: 3rem;
      }
    }

    .thank-you-information {
      display: block;
      font-size: $font-size-24;
      line-height: 1.5;

      span {
        font-weight: 700;
        border-bottom: .2rem dashed $pink-300;
      }
    }
  }

  .cookie-consent {
    left: auto;
  }

  .course-image img {
    max-width: 100%;
  }

  .related-post {
    display: flex;
    padding: 1rem 5rem 1rem 1rem;

    figure {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 14rem;
    }

    .button {
      font-size: $font-size-14;
      width: 9rem;
      border-radius: .4rem;
      display: block;
      text-align: center;
    }
  }

  .related-post-image {
    border-radius: .8rem;
    width: 14rem;
  }

  .related-post-header {
    padding: 0 2rem;
    flex-grow: 1;
  }

  .related-post-title {
    font-size: $font-size-18;
    font-weight: 600;
  }

  .related-post-meta {
    display: flex;
    flex-direction: column;
  }

  .related-post-contributor {
    font-size: $font-size-13;
    color: $light-200;
    font-weight: 600;
    letter-spacing: .025rem;
    padding-top: .8rem;
  }

  .related-post-date {
    font-size: $font-size-13;
    color: $light-750;
    font-weight: 500;
    letter-spacing: .025rem;
  }

  .contributors-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .contributor {
    margin-bottom: 0;
  }

  // new styles
  body {
    font-size: $font-size-18;
    overflow-x: hidden;
  }

  p {
    line-height: 3.2rem;
  }

  h1 {
    font-size: $font-size-46;
  }

  h2 {
    font-size: $font-size-34;
  }

  h3 {
    font-size: $font-size-24;
  }

  blockquote {
    font-size: $font-size-18;
  }

  .toc > ul {
    padding-left: 5rem;
  }

  .footer-privacy {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer-privacy-navigation {
    font-size: $font-size-15;

    a:hover {
      color: $light-200;
    }

    li + li:before {
      top: .6rem;
    }
  }

  .footer-navigation-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .footer-navigation-column {
    ul a:hover {
      color: $hover;
    }
  }

  .article-header h1 {
    font-size: $font-size-46;
  }

  .contributor-academies li {
    font-size: $font-size-16;
  }

  .contributor-short-info .contributor-academies li {
    font-size: $font-size-18;
    line-height: 2.4rem;
  }

  .article-comments-wrapper {
    .button {
      width: 85%;
      margin: 0 auto;
    }
  }

  .search {
    display: flex;
    justify-content: flex-end;
  }

  .search-input {
    width: auto;
  }

  .contributor-info {
    flex-direction: row;
  }

  .contributor-info-left,
  .contributor-info-right {
    flex: 0 0 auto;
  }

  .contributor-info-left {
    flex-basis: 40%;
    padding-right: 2rem;
  }

  .contributor-info-right {
    flex-basis: 60%;
    padding-top: 0;
  }

  .contributor-socials {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 0;
  }

  .contributor-bio .contributor-name {
    margin-top: 4rem;
  }

  .contributor-info {
    padding-bottom: 5rem;
  }

  .contributor-image {
    max-width: 42rem;
  }

  .contributor-skills .contributor-contribution-level {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }

  .contributor-stats {
    flex-direction: row;
    justify-content: center;
  }

  .contributor-stat + .contributor-stat {
    padding-top: 0;
    padding-left: 18rem;
  }

  .contributor-box-actions {
    align-items: flex-end;
  }

  .contributors-collaboration-logos-desktop {
    display: inline-flex;
  }

  .contributors-collaboration-logos-mobile {
    display: none;
  }

  .post-idea {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .academy-destination-info-boxes {
    display: flex;
    justify-content: center;

    .info-box {
      width: 33rem;
      flex-shrink: 0;
    }
  }

  .academy-course {
    display: flex;
    padding: 2rem 2.5rem;
    justify-content: space-between;
    align-items: center;

    &.academy-course-promo {
      &:before {
        top: -1.5rem;
        right: -1.5rem;
      }
    }
  }

  .academy-course-info-left {
    display: flex;
    align-items: center;
  }

  .academy-course-text {
    padding-left: 2rem;
  }

  .academy-course-image {
    margin-bottom: 0;
  }

  .academy-course-info-right {
    margin-top: 0;
  }

  .academy-course-price {
    padding-right: 2rem;
  }

  .academy-courses-button {
    display: flex;
    justify-content: center;

    .button {
      display: inline-flex;
    }
  }

  .academy-courses-wrapper {
    padding: 10rem 0;
  }

  .academy-user-goal h3 {
    font-size: $font-size-16;
  }

  .academy-user-goals {
    column-gap: 2rem;
  }

  .academy-user-goal-content {
    padding-top: 8rem;
  }

  .academy-user-goal-join {
    display: flex;
    justify-content: flex-end;

    .button {
      width: auto;
    }
  }

  .academy-user-goal-info-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .info-box {
      width: 33rem;
      flex-shrink: 0;
    }
  }

  .slider-arrows {
    display: flex;
  }

  .slider-arrow-left,
  .slider-arrow-right {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-100;
    border: .1rem solid $indigo-150;
    border-radius: .4rem;
    position: absolute;
    bottom: -.8rem;
    transition: background-color $transition-time $transition-type;

    &:hover {
      cursor: pointer;
      background-color: $indigo-150;
    }
  }

  .slider-arrow-left {
    left: 0;
  }

  .slider-arrow-right {
    right: 0;
  }
}

@media (min-width: 992px) {
  .article-page {
    padding: 6rem 0;
  }

  .thank-you {
    .article {
      width: 100%;
    }
  }

  // new styles
  .footer-navigation-columns {
    grid-template-columns: repeat(4, 1fr);

    .footer-navigation-column:last-of-type {
      padding-left: 6rem;
    }
  }

  body {
    padding-top: $header-height-desktop;
  }

  .bar-top {
    height: 5rem;
    flex-direction: row;
  }

  .bar-top-text {
    display: flex;
    padding-bottom: 0;

    div + div {
      padding-left: 1rem;
    }
  }

  .bar-top-counter {
    padding: 0 2rem;
  }

  .b-bar-top {
    padding-top: calc(#{$header-height-desktop} + #{$top-bar-height-desktop});

    .header {
      top: $top-bar-height-desktop;
    }

    .article-share {
      top: 18rem;
    }

    .article-content {
      @include tocScrollMarginTop(7.5rem);
    }

    .article-toc {
      top: calc(12rem + #{$top-bar-height-desktop});
      height: calc(100vh - #{$sidebar-offset} - #{$top-bar-height-desktop});
    }

    .article-sidebar {
      top: calc(12rem + #{$top-bar-height-desktop});
    }
  }

  .header {
    position: fixed;
    height: $header-height-desktop;
    transition: all 0.3s ease-in-out;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .header-sticky .header {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .header-sticky-out .header {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-3rem);
  }

  .header-menu {
    display: flex;
    padding: 2.5rem 0;
  }

  .header-nav-toggle {
    display: none;
  }

  .header-title {
    display: flex;
    align-items: center;

    > a {
      width: auto;
      top: 0;
    }

    div {
      display: block;
    }
  }

  .header-bar {
    min-height: auto;
  }

  .header-nav {
    display: flex;
    padding: 0;
    position: relative;

    ul {
      display: flex;
      align-items: center;
    }
  }

  .header-nav-link {
    padding: 1.5rem;
    border: 0;
  }

  .header-nav-link-submenu {
    padding-right: 4.5rem;

    &:after {
      right: 1rem;
    }
  }

  .header-nav-link-content {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: $navy-800;
    padding: 3rem 4rem;
    border-radius: 1rem;
    border-bottom: 0;

    ul {
      display: block;

      li {
        padding-bottom: 1rem;
      }
    }

    .header-nav-link {
      font-size: $font-size-18;
      font-weight: 400;
      padding: 0;
    }
  }

  .header-nav-link-header {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    color: $light-200;
    line-height: 3.2rem;
    margin-bottom: 2rem;
    position: relative;
  }

  .header-nav-link-description {
    color: $light-200;
    font-size: $font-size-13;
  }

  .header-socials {
    margin-bottom: 0;
    margin-left: 1rem;

    li {
      margin: 0 1rem;
      display: flex;
      align-items: center;
    }

    li:last-of-type {
      margin-right: 0;
    }
  }

  .header-socials,
  .header-nav-link-description {
    display: flex;
  }

  .header-logo {
    display: flex;
    align-items: center;

    span {
      display: flex;
      padding-left: 1.5rem;
      letter-spacing: .075rem;
      font-weight: 600;
      color: $light-100;
      font-size: $font-size-15;
    }

    img {
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  .header-nav-submenu:hover {
    .header-nav-link-submenu {
      &:after {
        width: 2.4rem;
        background-image: url('/img/icons/chevron-up.svg');
      }
    }

    .header-nav-link-content {
      display: block;
    }
  }

  .header-bar-start {
    display: none;
  }

  .article-share {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: $sidebar-offset;
    left: 0;
    padding-top: .5rem;
    padding-bottom: 0;
    background: $light-400;
    border-radius: .4rem;
  }

  .header-nav-start {
    display: flex;
  }

  .article-share-list {
    flex-direction: column;

    a {
      padding: 1.4rem 1.6rem;
    }
  }

  .article-header {
    padding-top: 4rem;
  }

  .article-wrapper .container {
    width: 84rem;
  }

  .related-posts {
    width: 80rem;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }

  .contributors-target {
    display: flex;
    align-items: center;
  }

  .contributors-reviews {
    padding-bottom: 0;
    padding-left: 10rem;
  }

  .contributors-target-info p {
    padding-bottom: 8rem;
  }

  .contributors-figures {
    grid-template-columns: repeat(4, 1fr);
  }

  .contributors-join-us {
    padding-top: 7rem;
    text-align: center;
  }

  .contributor-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contributors-boxes-wrapper {
    background-color: transparent;
  }

  .contributor-box {
    background-color: $light-200;
    padding: 5rem 2.5rem;
    border-radius: .8rem;
  }

  .contributor-box-actions {
    flex-direction: row;
    justify-content: flex-end;

    .button + .button {
      margin-top: 0;
      margin-left: 1.5rem;
    }
  }

  .contributor-list-wrapper {
    padding-top: 8rem;
  }

  .article-content {
    @include tocScrollMarginTop(2.5rem);
  }

  .academy-contributor {
    display: flex;
    align-items: center;
  }

  .academy-contributor-image {
    flex-basis: 26rem;
    flex-shrink: 0;
    margin: 0;
  }

  .academy-contributor-text {
    padding-left: 4rem;
  }

  .academy-destination p {
    text-align: center;
    width: 85%;
    margin: 0 auto;
  }

  .academy-courses {
    display: flex;
    column-gap: 2.5rem;
  }

  .academy-course {
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .academy-course-info-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .academy-course-image {
    margin-bottom: 1.5rem;
  }

  .academy-course-info-right {
    margin-top: 1.5rem;
    align-self: flex-end;
  }

  .academy-course-text {
    padding-left: 0;
  }

  .academy-course-price {
    padding-right: 4rem;
  }

  .academy-course-price-old {
    padding-right: 1.4rem;
  }

  .academy-user-goal-info {
    flex-direction: row;
  }

  .academy-user-goal-info-boxes {
    justify-content: flex-end;

    .info-box {
      width: 100%;
    }
  }

  .academy-user-goal-info-image {
    flex-shrink: 0;
    margin-right: 2rem;
  }
}

@media (min-width: 1180px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }

  .header-nav-link {
    padding: 1.5rem 4rem;
  }

  .header-nav-link-submenu {
    padding-right: 5rem;

    &:after {
      right: 1.5rem;
    }
  }

  .contributors-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .contributors-ready {
    display: flex;
  }

  .contributors-ready-image {
    img {
      min-width: 20rem;
    }
  }

  .contributors-ready-left {
    padding-right: 10rem;
  }

  .contributors-ready-wrapper {
    padding-bottom: 5rem;
  }

  .academy-destination-info-boxes {
    flex-direction: column;

    .info-box {
      margin-bottom: 0;

      + .info-box {
        margin-top: 5rem;
      }
    }
  }

  .academy-destination-info-center {
    display: inline-flex;
  }

  .academy-destination-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .article-content {
    flex-basis: 80rem;
    flex-shrink: 0;
  }

  .article-content-wrapper {
    .container {
      width: 109rem;
      transform: translateX(-10.5rem);
    }
  }

  .article-header,
  .article-footer-wrapper {
    .container {
      width: 84rem;
    }
  }

  .article-sidebar {
    position: sticky;
    top: 12rem;
    height: 100%;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 21rem;
    padding-left: 4rem;
  }

  .article-toc-header {
    font-weight: 700;
  }

  .article-sidebar-content {
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .article-sidebar-header {
    font-size: 2rem;
  }
  
  .article-sidebar-subheader {
    font-size: 1.5rem;
  }

  .article-sidebar-img {
    margin-bottom: 2rem;
  }

  .b-article-sidebar {
    .article-wrapper .container {
      width: 100%;
      margin: 0 auto;
      transform: none;
    }

    .article-header,
    .article-footer-wrapper {
      .container {
        width: 84rem;
      }
    }

    .related-posts {
      left: 50%;
    }
  }

  .post-no-toc {
    .article-toc {
      display: none;
    }

    .article-content-wrapper .container {
      width: 84rem;
      transform: none;
    }

    &.b-article-sidebar {
      .article-content-wrapper .container {
        width: 105rem;
        transform: translateX(10.5rem);
      }
    }
  }

  .article-toc {
    display: flex;
    position: sticky;
    top: 12rem;
    height: calc(100vh - #{$sidebar-offset});
    overflow-y: auto;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 19rem;
    padding-right: 2rem;
    margin-right: 2rem;

    .toc {
      padding-bottom: 0;

      a:before {
        display: none;
      }

      ul {
        padding-left: 0;
        font-size: $font-size-16;

        ul {
          padding-left: 1.5rem;
        }

        li {
          padding-top: 1.2rem;
          line-height: 115%;
        }

        &:before {
          display: none;
        }
      }
    }
  }

  .article-content-container {
    display: flex;
    justify-content: center;
  }

  .article-content .toc,
  [id="table-of-contents"] {
    display: none;
  }

  .academy-destination-info-boxes .info-box {
    visibility: hidden;
  }
}

@media (min-width: 1366px) {
  .container {
    width: 130rem;
  }

  .article-content-wrapper {
    .container {
      width: 109rem;
      transform: translateX(-12.5rem);
    }
  }

  .b-article-sidebar {
    .article-content-wrapper .container {
      width: 134rem;
    }
  }

  .post-no-toc {
    &.b-article-sidebar {
      .article-content-wrapper .container {
        width: 109rem;
        transform: translateX(12.5rem);
      }
    }
  }

  .article-sidebar {
    flex-basis: 25rem;
  }

  .article-toc {
    flex-basis: 23rem;
  }
}