<div class="bar-top">
    <div class="bar-top-text">
        <div>Security Starter Course 🗡</div>
        <div>Limited time 90% OFF 👀</div>
    </div>
    <div class="bar-top-actions">
        <span class="bar-top-counter" id="bar-top-counter">1 DAYS 19 HOUR 59 MIN</span>
        <a class="bar-top-link" href="/">>> BUY NOW <<</a>
    </div>
</div>