<div class="bar-top">
    <div class="bar-top-text">
        <div>Join our Discord community 🥷</div>
    </div>
    <div class="bar-top-actions">
        <span class="bar-top-counter" id="bar-top-counter">Discuss hot #dev topics! 🔥</span>
        <a class="bar-top-link" href="https://discord.gg/tXrGY7ca43">Join Discord</a>
    </div>
</div>