<div class="header-top">
    <div class="header-top-text">
        <div>Security Starter Course 🗡</div>
        <div>Limited time 90% OFF 👀</div>
    </div>
    <span class="header-top-counter" id="header-top-counter">1 DAYS 19 HOUR 59 MIN</span>
    <a class="header-top-link" href="/">>> BUY NOW <<</a>
</div>