<div class="bar-top">
    <div class="bar-top-text">
        <div>Become TESTING MASTER 🧪</div>
        <div>Our Academy starts soon!</div>
    </div>
    <div class="bar-top-actions">
        <span class="bar-top-counter" id="bar-top-counter">BRAND NEW LESSONS 🔥</span>
        <a class="bar-top-link" href="https://fullstack-testing.com/?ck=5ccf0adf58">Get 10% discount</a>
    </div>
</div>