<div class="bar-top">
    <div class="bar-top-text">
        <div>Web Security Dev Academy 📺 12-week</div>
        <div style="color: yellow">🔥 LASER-FOCUSED LEARNING 🔥</div>
    </div>
    <div class="bar-top-actions">
        <div style="display: flex; padding: 0 10px;">
            <!-- <span class="bar-top-counter" id="bar-top-counter"> -->
                <!-- <span class="dfD">1</span> D -->
                <!-- <span class="dfH">2</span> HOURS -->
                <!-- <span class="dfM">3</span> MINS -->
                <!-- <span class="dfS">4</span> -->
            <!-- </span> -->
            <a class="bar-top-link"
               style="display: inline;"
               href="https://websecurity-academy.com/?utm_source=blog&utm_medium=organic&utm_campaign=topbar"
               data-ph="banner-top__link">SAVE YOUR SPOT</a>
        </div>
    </div>
</div>