<aside class="article-sidebar">
    <div class="article-sidebar-content">
        <% if (post.bannerImage) {%>
            <img src="<%- post.bannerImage %>" alt="">
        <% } %>
        <% if (post.bannerHeader) {%>
            <h4 class="article-sidebar-header"><%- post.bannerHeader %></h4>
        <% } %>
        <% if (post.bannerSubheader) {%>
            <h5 class="article-sidebar-subheader"><%- post.bannerSubheader %></h5>
        <% } else { %>
        <h5 class="article-sidebar-header">Secret steps 🤫 to secure Web apps!</h5>
        <% } %>
        <img class="article-sidebar-img" src="/img/secret.png" loading="lazy" alt="FTA">
        <% if (post.bannerUrl) {%>
            <a href="<%- post.bannerUrl %>" class="article-sidebar-header button button-primary button-small">Check it out!</a>
        <% } else { %>
            <a href="https://courses.dev-academy.com/p/web-security-fundamentals/?blog" class="article-sidebar-header button button-primary button-small">Learn more!</a>
        <% } %>
    </div>
</aside>