<div class="main-banner">

    <div class="main-banner-text">
        <div data-copy="1">- ChatGPT, what are key skills for Web devs in 2024?</div>
        <div data-copy="2" style="color: darkred">ChatGPT: - Security and authorization!</div>
    </div>
    <div class="main-banner-actions">
        <div style="display: flex; padding: 0 10px;">
            <!-- <span class="main-banner-counter" id="main-banner-counter"> -->
                <!-- <span class="dfD">1</span> D -->
                <!-- <span class="dfH">2</span> HOURS -->
                <!-- <span class="dfM">3</span> MINS -->
                <!-- <span class="dfS">4</span> -->
            <!-- </span> -->
            <a class="main-banner-link"
               data-copy="3"
               style="display: inline;"
               href="https://courses.dev-academy.com/p/security-starter-kit?top-banner"
               data-ph="main-banner__link">LEARN SECURITY</a>
        </div>
    </div>
</div>