<div class="main-banner">
    <div class="main-banner-text">
        <div data-copy="1">Web Security Dev Academy 📺 12-week</div>
        <div data-copy="2" style="color: yellow">🔥 SECURE CODING BOOTCAMP 🔥</div>
    </div>
    <div class="main-banner-actions">
        <div style="display: flex; padding: 0 10px;">
            <!-- <span class="main-banner-counter" id="main-banner-counter"> -->
                <!-- <span class="dfD">1</span> D -->
                <!-- <span class="dfH">2</span> HOURS -->
                <!-- <span class="dfM">3</span> MINS -->
                <!-- <span class="dfS">4</span> -->
            <!-- </span> -->
            <a class="main-banner-link"
               data-copy="3"
               style="display: inline;"
               href="/web-security"
               data-ph="main-banner__link">SAVE YOUR SPOT</a>
        </div>
    </div>
</div>