.formkit-modal {
  background-color: $light-150;
  border-radius: 1rem;
  max-width: 45rem !important;
  width: 100% !important;
}

.formkit-column-header {
  background-color: $teal-300;
  padding: 6rem 3rem 3rem;
  border-radius: 1rem 1rem 0 0;

  h2 {
    margin: 0;
    color: $light-100;
  }
}

.formkit-column-body {
  padding: 3rem 3rem 1rem;
}

.formkit-subheader p {
  text-align: center;
}

.formkit-input {
  color: $dark-600;
  border: .1rem solid $light-200;
  border-radius: .4rem;
  padding: 1.5rem 2rem;
  width: 100%;
}

.formkit-field {
  margin-bottom: 1rem;
}

.formkit-guarantee {
  font-size: $font-size-12;

  p {
    line-height: 1.5;
  }
}

.formkit-submit {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.formkit-close {
  position: absolute !important;
  right: 1rem !important;
  top: 1rem !important;
}

.formkit-alert-error {
  color: $danger;
  margin-bottom: 1rem;

  li {
    border: .1rem solid $danger;
    background: #fde8e2;
    border-radius: .4rem;
    padding: 1rem 2rem;
  }
}

.ck-visible {
  .seva-overlay {
    display: block !important;
    position: static;
    opacity: 1;
    max-width: 100% !important;
    z-index: $z-index-100;
    background: transparent;
  }

  .seva-overlay [data-format="modal"],
  .formkit-overlay [data-format="modal"] {
    display: block !important;
  }

  .seva-modal .formkit-close,
  .formkit-modal .formkit-close {
    display: none;
  }

  .formkit-modal {
    margin: 0 !important;
    min-width: auto;
    max-width: none !important;
    opacity: 1;
    background-color: transparent;
  }

  .formkit-guarantee {
    display: none;
  }

  .formkit-column-header {
    display: none;
  }

  .formkit-column-body {
    padding: 0;
  }

  .formkit-subheader {
    display: none;
  }

  .formkit-input {
    border-radius: .8rem;
  }

  .formkit-field {
    margin-bottom: 1.5rem;
  }
}