#CybotCookiebotDialog {
    padding-bottom: 20px !important;
}

#CybotCookiebotDialog h2 {
    margin-bottom: 0 !important;
}

.CybotCookiebotScrollContainer {
    padding: 0 !important;
}

#CybotCookiebotDialogHeaderLogosWrapper {
    display: none !important;
}

.CybotCookiebotDialogBodyButton {
    width: 150px !important;
    margin-right: 0.5em !important;
}

#CybotCookiebotDialogBodyButtonsWrapper {
    flex-direction: row-reverse !important;
}

.CybotCookiebotDialogBodyBottomWrapper {
    display: none !important;
}