// Colors
// - Dark
$dark-100: #000;
$dark-200: #212121;
$dark-300: #505050;
$dark-400: #6c6c6c;

// - Light
$light-100: #fff;
$light-200: #FAFAFA;
$light-300: #F7F7F7;
$light-400: #EBEBEB;
$light-500: #c3c3c3;

// - Primary
// Testimonials, links, hero h1, gradient second color, navigation, list, chips, icon-box
$primary-100: #7838d6;
// scrollbar, agenda, button, chips,
$primary-200: #5416b2;
// ck form, enrolment, button
$primary-300: #3d0f80;

$light-primary-100: #a87de0;


// - Secondary
// agenda
$secondary-100: #E30BCA;
// questions
$secondary-200: #fa0060;
// gradient first color
$secondary-300: #C947BC;

// Alerts
$danger: #DC4B4B;