@import 'variables';

@media (min-width: 768px) {
  .cookie-consent {
    left: auto;
    right: 2rem;
  }

  .header {
    position: static;
    background-color: transparent;
  }

  main {
    padding-top: 4rem;
    position: relative;
  }

  .nav {
    padding: 0 2rem;
    box-shadow: none;

    &.nav-fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: $light-100;
      z-index: $z-index-300;
      box-shadow: 0 .2rem .3rem rgb(0 0 0 / 10%), 0 .4rem 1.4rem rgb(0 0 0 / 8%);

      .nav-link {
        color: $primary-100;
        transition: none;
      }

      .nav-link-highlighted {
        background-color: $primary-200;
        color: $light-100;
      }
    }
  }

  .nav-link {
    color: $light-100;
  }

  .nav-link-hidden {
    display: flex;
  }

  .nav-link-highlighted {
    background-color: $light-100;
    color: $primary-200;
  }

  .wave {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      width: 57rem;
      height: 52.5rem;

      stop {
        &:first-child {
          stop-color: $primary-100;
        }

        &:last-child {
          stop-color: $primary-300;
        }
      }
    }
  }

  .list {
    font-size: 2rem;

    li:before {
      top: 1.1rem;
    }
  }

  .section {
    padding: 10rem 0;
  }

  .section-enrolment {
    padding-bottom: 30rem;
  }

  .section-testimonials {
    padding-top: 40rem;
  }

  h2 {
    font-size: 3.6rem;
    margin-bottom: 6rem;
  }

  p {
    font-size: 2rem;
  }

  .package {
    max-width: 60rem;
    padding: 4rem 5rem 6rem;
  }

  .teacher-info {
    flex-direction: column;
    flex-basis: auto;
    min-width: 40rem;

    img {
      width: 25rem;
      height: 25rem;
      margin-right: 0;
    }
  }

  .teacher-info-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
  }

  .teacher {
    flex-direction: row;
    padding-bottom: 7rem;
  }

  .chip {
    font-size: 2rem;

    &.chip-pink {
      font-size: 1.4rem;
    }
  }

  .consultations {
    display: flex;
  }

  .consultations-image {
    padding-left: 4rem;
    flex-basis: auto;
    max-width: 48rem;
  }

  .questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }

  .question {
    h3 {
      border-top: 0;
      font-size: 2rem;

      &:hover {
        cursor: default;
      }

      &:after {
        display: none;
      }
    }

    p {
      display: flex;
      padding-left: 2rem;
      padding-bottom: 0;
      border-left: .2rem solid $primary-100;
    }
  }

  .guarantee {
    flex-direction: row;
  }

  .guarantee-image {
    flex-basis: auto;
    min-width: 34rem;
    align-items: flex-start;
    padding-left: 4rem;

    img {
      margin-top: -7rem;
    }
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
  }

  .icon-box-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;

    p {
      line-height: 3.2rem;
    }
  }

  .icon-box .icon {
    width: 6.4rem;
    height: 6.4rem;
  }

  .enrolment {
    padding: 3rem 6rem;

    p {
      font-size: 1.6rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  .enrolment-info {
    p {
      font-size: 1.8rem;
    }
  }

  .agenda-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3rem;
  }

  .developer {
    font-size: 2rem;
  }

  .hero {
    display: flex;

    h1 {
      font-size: 8rem;
      line-height: 7.2rem;
    }

    small {
      font-size: 1.8rem;
    }
  }

  .hero-left {
    flex: 1;
    padding-right: 6rem;

    .button {
      max-width: 40rem;
    }

    p {
      font-size: 2.2rem;
    }
  }

  .hero-right {
    flex: 1;
    padding-top: 10rem;
  }

  .confs-mobile {
    display: none;
  }

  .confs-desktop {
    display: block;
    padding: 2rem;
  }

  .schedule-days {
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1rem;
  }

  .schedule-card {
    padding: .8rem .2rem;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    justify-content: normal;
  }

  .schedule-date {
    flex-direction: column;
  }

  .schedule-date-top {
    padding-left: 0;
    order: 1;
  }

  .schedule-day {
    order: 2;
    padding-top: .5rem;
  }

  .schedule-description {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .schedule-weekday {
    margin-bottom: .7rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 97rem;
  }

  .slack {
    flex-direction: row;
  }

  .slack-info {
    padding-right: 3rem;
  }

  .slack-image {
    flex-basis: auto;
    min-width: 45rem;
    padding-top: 0;
  }

  .icon-box-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .agenda-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .enriched-agenda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .developer {
    margin-right: 10rem;
  }

  .developer-box {
    display: flex;
    align-items: center;

    img {
      display: inline-block;
      max-width: 36rem;
      margin-top: 0;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 116rem;
  }

  .agenda-wrapper {
    grid-column-gap: 1rem;
  }

  .hero-right {
    padding-top: 0;
  }

  .wave svg {
    width: auto;
    height: auto;
  }

  .schedule-card {
    padding: 1.6rem 1.4rem;
  }

  .schedule-description {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .schedule-day {
    padding: .7rem 0;
  }

  .schedule-weekday {
    margin-bottom: 1rem;
  }
}