<% if (is_current('/')) {%>
    <%- page.content %>
<% } else { %>
    <div class="container">
        <article class="article article-page">
            <%- page.content %>
        </article>
    </div>
<% } %>