<div class="posts-wrapper">
    <div class="container">
        <h2 class="posts-listing-header border border-light border-large"><span>Level up</span> the selected skill</h2>
        <%- partial('partial/tags') %>
        <%- partial('partial/posts', {posts: page.posts, ph_prefix: 'post'}) %>
        <%- partial('partial/pagination') %>
    </div>
</div>
