<div class="section">
    <div class="container">
        <h2 id="agenda">Agenda - watch demos 📺</h2>
        <div class="agenda-wrapper">
            <div class="agenda">
                <h3><span class="agenda-number"></span>The big plan</h3>
                <ul class="agenda-lessons">
                    <li>Welcome lesson</li>
                    <li>The big goal</li>
                    <li>Structure and topics <span class="agenda-play">PLAY NOW</span></li>
                    <li>What you need</li>
                    <li>Training outcomes</li>
                    <li>Your first task 🚀</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Web Security model</h3>
                <ul class="agenda-lessons">
                    <li>Same-origin policy</li>
                    <li>Cross-origin resource sharing</li>
                    <li>Content Security Policy</li>
                    <li>Reporting in Content Security Policy</li>
                    <li>Hashes and nonces</li>
                    <li>Subresource integrity</li>
                    <li>Assignment ⚙</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Client vs. server security</h3>
                <ul class="agenda-lessons">
                    <li>Client-side security</li>
                    <li>Server-side security</li>
                    <li>HTTPS Communication</li>
                    <li>Tokens vs. sessions</li>
                    <li>When to use tokens</li>
                    <li>When to use sessions</li>
                    <li>Assignment ⚙</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Security vulnerabilities</h3>
                <ul class="agenda-lessons">
                    <li>OWASP Top 10 <span class="agenda-play">PLAY NOW</span></li>
                    <li>Cross-site scripting</li>
                    <li>Cross-site request forgery</li>
                    <li>JWT Hacking <span class="agenda-play">PLAY NOW</span></li>
                    <li>Other web applications attacks</li>
                    <li>Assignment ⚙</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Application architecture</h3>
                <ul class="agenda-lessons">
                    <li>Role-based access control design</li>
                    <li>Application architecure</li>
                    <li>Authentication vs. authorization</li>
                    <li>Secured Angular parts</li>
                    <li>Secured API</li>
                    <li>Node.js application setup</li>
                    <li>Assignment ⚙</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Core features implementation</h3>
                <ul class="agenda-lessons">
                    <li>Login feature in Angular</li>
                    <li>Login feature in Node</li>
                    <li>Sign up feature in Angular</li>
                    <li>Sign up feature in Node <span class="agenda-play">PLAY NOW</span></li>
                    <li>Router Guards</li>
                    <li>Http Interceptors</li>
                    <li>Assignment ⚙</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Client security implementation</h3>
                <ul class="agenda-lessons">
                    <li>Content Security Policy</li>
                    <li>XSS prevention</li>
                    <li>CSRF prevention</li>
                    <li>HttpOnly and Secure Cookies</li>
                    <li>UserAuth object</li>
                    <li>Conditional components visibility</li>
                    <li>Coding task 🔧</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>API security implementation</h3>
                <ul class="agenda-lessons">
                    <li>Working with sever-side session</li>
                    <li>Logging access and application events</li>
                    <li>Throttling failed logins</li>
                    <li>Input sanitization and validation</li>
                    <li>Two vectors of authorization</li>
                    <li>Preventing unauthorized requests</li>
                    <li>Setting up CORS</li>
                    <li>Coding task 🔧</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Roles and account management</h3>
                <ul class="agenda-lessons">
                    <li>Adding a new user to an account</li>
                    <li>Confirming a new user for an account</li>
                    <li>Password recovery</li>
                    <li>Managing active sessions</li>
                    <li>Removing logged users</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>External authentication</h3>
                <ul class="agenda-lessons">
                    <li>Main players in OAuth 2.0</li>
                    <li>Understanding different OAuth flows</li>
                    <li>Security measures in OAuth 2.0</li>
                    <li>Authorization Code Flow + PKCE</li>
                    <li>Id Token vs. Access Token</li>
                    <li>Using OpenID Connect (OIDC)</li>
                    <li>Coding task 🔧</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Two-factor authentication</h3>
                <ul class="agenda-lessons">
                    <li>Multi-factor authentication mechanics</li>
                    <li>Two-factor authentication with Google Authenticator <span class="agenda-play">PLAY NOW</span></li>
                    <li>Requesting one-time password (OTP)</li>
                    <li>Validating one-time password (OTP)</li>
                    <li>Setting up 2FA</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>External user management</h3>
                <ul class="agenda-lessons">
                    <li>Federated identity management (FIM)</li>
                    <li>Single sign-on (SSO)</li>
                    <li>FIM providers comparison</li>
                    <li>IDaaS - Identity as a Service</li>
                    <li>Auth features externalization</li>
                    <li>Implementing Auth0 integration</li>
                    <li>Coding task 🔧</li>
                </ul>
            </div>
        </div>
        <div class="center">
            <div class="chip mt-5">Each video with subtitles</div>
        </div>
    </div>
</div>