<div class="section section-grey">
    <div class="container">
        <div class="certificate">
            <div class="certificate-info">
                <h2>Certificate of graduation 🏆</h2>
                <ul class="list">
                    <li>Get your PDF shareable and printable certificate 👨‍🏫</li>
                    <li>Show your success on social media 🗺️</li>
                    <li>Print it and put on the wall 🖨️</li>
                    <li>Ask the team to prove your skills on LinkedIn! 💪</li>
                </ul>
            </div>
            <div class="certificate-image">
                <img src="assets/img/certificate.png" loading="lazy" alt="">
            </div>
        </div>
    </div>
</div>