<div class="section section-grey">
    <div class="container">
        <h2>Live consultations 📞</h2>
        <div class="consultations">
            <div class="consultations-info">
                <ul class="list">
                    <li>Join monthly consultation calls with the author* 👨‍🏫</li>
                    <li>Ask any questions you have in the program ❓</li>
                    <li>Exchange ideas inside the Academy community 🙋‍♀</li>
                    <li>Show & consult your assignments ✍</li>
                    <li>Maximize your success! 🚀</li>
                </ul>
                <div class="consultations-annotation">* You can join as many sessions as you want and you are guaranteed to be invited to at least 3 sessions (with a regular ticket).</div>
            </div>
            <div class="consultations-image">
                <img src="assets/img/session.jpg" loading="lazy" alt="">
            </div>
        </div>
    </div>
</div>