<div class="section">
    <div class="container">
        <h2>Join the revolution of Security-Oriented Devs</h2>
        <div class="developer-box">
            <div class="developer">
                <div class="developer-title">The program is for you if you want to:</div>
                <div class="developer-list">
                    <ul>
                        <li>understand <span class="highlighted">the model of security</span> in Web applications,</li>
                        <li>be aware of <span class="highlighted">potential risks</span> once the application is live,</li>
                        <li>stop <span class="highlighted">blindly relying</span> on frameworks in the hope of security,</li>
                        <li>see the <span class="highlighted">full perspective</span> of frontend and backend security,</li>
                        <li>integrate <span class="highlighted">security testing</span> into your development workflow,</li>
                        <li>learn tons of valuable <span class="highlighted">tips & tricks</span> improving the security,</li>
                        <li>join the World-wide community of <span class="highlighted">like-minded developers.</span></li>
                    </ul>
                </div>
                <div class="developer-info">We use Angular & Node (with TypeScript) for the main project implementation, but <span class="highlighted">the underlying concepts are applicable to any web stack</span>. The first 5 modules are technology agnostic - you have time to catch up!</div>
            </div>
            <div class="center">
                <img src="assets/img/students_4.png" loading="lazy" alt="">
            </div>
        </div>
    </div>
</div>