<div class="section">
    <div class="container">
        <h2>Who is the Academy for</h2>
        <div class="developer-box">
            <div class="developer">
                <div class="developer-title">🚀 The program is great for you if you are a:</div>
                <div class="developer-list">
                    <ul>
                        <li><span class="bold">full-stack developer</span> able to think beyond a single stack</li>
                        <li><span class="bold">backend developer</span> not afraid of frontend world</li>
                        <li><span class="bold">frontend developer</span> willing to understand backend security</li>
                    </ul>
                </div>
                <div class="developer-info">We use Angular and Node (with TypeScript), but the underlying concepts are applicable to any web stack. The first 5 modules are technology agnostic - you have 5 weeks to catch up!</div>
            </div>
            <div>
                <img src="assets/img/ninja-jump.png" loading="lazy" alt="">
            </div>
        </div>

    </div>
</div>