<div class="section">
    <div class="container">
        <h2>Why Developers Love Academy</h2>

        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative; margin-bottom: 50px;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_bwxrae4o83 videoFoam=true"
                   style="height:100%;position:relative;width:100%">
                <div class="wistia_swatch"
                     style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                  <img src="https://fast.wistia.com/embed/medias/bwxrae4o83/swatch"
                       loading="lazy"
                       style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true"
                       onload="this.parentNode.style.opacity=1;" /></div>
              </div>    
            </div>
        </div>

        <div class="developer-box developer-box--equal">
            <div class="developer developer--equal-item">
                <div class="developer-title">🤩 You are a best fit if you are:</div>
                <div class="developer-list">
                    <ul>
                        <li>✅ a <b>full-stack</b> developer (best match ⭐️),</li>
                        <li>✅ a <b>frontend</b> developer concerned about application security (yes, it really matters),</li>
                        <li>✅ a <b>backend</b> developer interested in secure coding practices (from the inside out),</li>
                        <li>✅ an application security engineer seeking to <b>deepen practical application knowledge</b>,</li>
                        <li>✅ a system administrator interested in understanding web security <b>from a coding angle</b>.</li>
                    </ul>
                </div>
            </div>
            <div class="developer developer--equal-item">
                <div class="developer-title">😢 You may not be a good fit if you are:</div>
                <div class="developer-list">
                    <ul>
                        <li>❌ completely unfamiliar with JavaScript / HTML,</li>
                        <li>❌ looking for basic IT or computer science fundamentals,</li>
                        <li>❌ primarily focused on non-web IT security (e.g., network security, IT auditing),</li>
                        <li>❌ a complete beginner in programming without any background in web technologies,</li>
                        <li>❌ seeking a course on user interface design or user experience principles.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="developer-box">
            <div class="developer">
                <div class="developer-title">The program is for you if you want to:</div>
                <div class="developer-list">
                    <ul>
                        <li>engineer <span class="highlighted">ultra-secure</span> Web applications,</li>
                        <li>understand <span class="highlighted">the model of security</span> in Web applications,</li>
                        <li>be aware of <span class="highlighted">potential risks</span> once the application is live,</li>
                        <li>stop <span class="highlighted">blindly relying</span> on frameworks in the hope of security,</li>
                        <li>see the <span class="highlighted">full perspective</span> of frontend and backend security,</li>
                        <li>integrate <span class="highlighted">security testing</span> into your development workflow,</li>
                        <li>learn tons of valuable <span class="highlighted">tips & tricks</span> improving the security,</li>
                        <li>join the World-wide community of <span class="highlighted">like-minded developers.</span></li>
                    </ul>
                </div>
                <div class="developer-info">We use Angular & Node (with TypeScript) for the main project implementation, but <span class="highlighted">the underlying concepts are applicable to any web stack</span>. The first 5 modules are technology agnostic - you have time to catch up!</div>
            </div>
            <div class="center">
                <img src="assets/img/students_4.png" loading="lazy" alt="">
            </div>
        </div>
    </div>
</div>