<div class="section">
    <div class="container">
        <h2 id="agenda">Agenda - watch demos 📺</h2>
        <div class="enriched-agenda-wrapper">
            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>The big plan</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">The big goal</h4>
                            <ul class="enriched-agenda-module-list">
                                <li>Setting the scene</li>
                                <li>Our approach to theory</li>
                                <li>Coding practices</li>
                                <li>Community introduction</li>
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Structure and topics <span class="enriched-agenda-play wistia_embed wistia_async_g58irqip1c popover=true popoverContent=link">WATCH</span></h4>
                            <ul class="enriched-agenda-module-list">
                                <li>Birds-eye view on the program</li>
                                <li>Modules and lessons</li>
                                <li>Expectations setup</li>
                                <li>Setting the timeline</li>
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Training outcomes</h4>
                            <ul class="enriched-agenda-module-list">
                                <li>Understanding the theory</li>
                                <li>Design and security skills</li>
                                <li>Using frameworks like OAuth</li>
                                <li>A lot of new friends :)</li>
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">What you need</h4>
                            <ul class="enriched-agenda-module-list">
                                <li>Coding environment</li>
                                <li>Git, Node, npm</li>
                                <li>Discord community</li>
                                <li>Fundamentals of Angular & Node</li>
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Your first task 🚀</h4>
                            <ul class="enriched-agenda-module-list">
                                <li>Let's hit the road! (keyboard 😂)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>You are ready to start learning.</li>
                        <li>Your environment is set up.</li>
                        <li>Your timeline is clear.</li>
                        <li>You meet your first fellow students.</li>
                        <li>You are excited to start!</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Just getting started! 🔥</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Web Security model</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Same-origin policy</h4>
                            <ul class="enriched-agenda-module-list"></ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Cross-origin resource sharing</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Content Security Policy</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Reporting in Content Security Policy</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Hashes and nonces</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Subresource integrity</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Assignment ⚙</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Know how browsers operate in terms of security.</li>
                        <li>Understand the most imporant security policy on Web.</li>
                        <li>Get the reasoning behind CORS errors (yes, yes - this infamous No Access Control Allow Origin error!).</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Run laser-focused coding labs and play with them.</li>
                        <li>Build a standard cross-site scripting attacks prevention shield 🛡.</li>
                        <li>Set up reporting features to catch attack attempts (notifications on violations).</li>
                        <li>Create integrity checks on external scripts.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Client vs. server security</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Client-side security</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Server-side security</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">HTTPS Communication</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Tokens vs. sessions</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">When to use tokens</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">When to use sessions</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Assignment ⚙</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Understand the limitations of clients</li>
                        <li>Get the consequences of the lack of encryption</li>
                        <li>Know where to implement security controls</li>
                        <li>Find the adequate authentication mechanisms</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Security vulnerabilities</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">OWASP Top 10 <span class="enriched-agenda-play wistia_embed wistia_async_du0dwzpal9 popover=true popoverContent=link">WATCH</span></h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Cross-site scripting</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Cross-site request forgery</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">JWT Hacking <span class="enriched-agenda-play wistia_embed wistia_async_wsmkev907w popover=true popoverContent=link">WATCH</span></h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Other web applications attacks</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Assignment ⚙</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Application architecture</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Role-based access control design</h4>
                            <ul class="enriched-agenda-module-list">
                                <li></li>
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Application architecure</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Authentication vs. authorization</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Secured frontend parts</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Secured API</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Backend application setup</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Assignment ⚙</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>


            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Core features implementation</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Login feature in frontend</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Login feature in backend</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Sign up feature in frontend</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Sign up feature in backend <span class="enriched-agenda-play wistia_embed wistia_async_ck7rw692j7 popover=true popoverContent=link">WATCH</span></h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Router Guards</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Http Interceptors</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Assignment ⚙</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Client security implementation</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Content Security Policy</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">XSS prevention</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">CSRF prevention</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">HttpOnly and Secure Cookies</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">UserAuth object</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Conditional components visibility</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Coding task 🔧</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>API security implementation</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Working with sever-side session</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Logging access and application events</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Throttling failed logins</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Input sanitization and validation</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Two vectors of authorization</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Preventing unauthorized requests</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Setting up CORS</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Coding task 🔧</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Roles and account management</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Adding a new user to an account</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Confirming a new user for an account</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Password recovery</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Managing active sessions</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Removing logged users</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>External authentication</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Main players in OAuth 2.0</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Understanding different OAuth flows</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Security measures in OAuth 2.0</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Authorization Code Flow + PKCE</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Id Token vs. Access Token</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Using OpenID Connect (OIDC)</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Coding task 🔧</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Two-factor authentication</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Multi-factor authentication mechanics</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Two-factor authentication with Google Authenticator <span class="enriched-agenda-play wistia_embed wistia_async_7z8ska8kh5 popover=true popoverContent=link">WATCH</span></h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Requesting one-time password (OTP)</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Validating one-time password (OTP)</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Setting up 2FA</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>External user management</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            <h4 data-collapsed="true">Federated identity management (FIM)</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Single sign-on (SSO)</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">FIM providers comparison</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">IDaaS - Identity as a Service</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Auth features externalization</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Implementing Auth0 integration</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                        <li>
                            <h4 data-collapsed="true">Coding task 🔧</h4>
                            <ul class="enriched-agenda-module-list">
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="chip mt-5 mb-5">Each video with subtitles</div>
        </div>
        <h2 id="agenda">Growing list of bonuses 🤩</h2>
        <div class="agenda-wrapper">
            <div class="agenda">
                <h3><span class="agenda-number"></span>Firebase security</h3>
                <div class="chip-transparent">Created by Fireship.io 🔥</div>
                <ul class="agenda-lessons">
                    <li>Firestore rules basics</li>
                    <li>Logic organization with custom functions</li>
                    <li>Common examples: role-based auth, access-control list, rate-limiting</li>
                    <li>Unit testing rules locally</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Security testing</h3>
                <div class="chip-transparent">Created with Snyk.io 🐶</div>
                <ul class="agenda-lessons">
                    <li>Introduction to DevSecOps (shift left)</li>
                    <li>Software Composition Analysis</li>
                    <li>Static Application Security Testing</li>
                    <li>Automatic discovery of SQL injections, XSS, and more security risks in   code</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>Penetration testing</h3>
                <div class="chip-transparent">Act like a hacker 👾 </div>
                <ul class="agenda-lessons">
                    <li>Introduction to penetration testing</li>
                    <li>Using Burp Suite tools</li>
                    <li>Looking for security issues</li>
                    <li>Using repeater, intruder, decoder, sequencer</li>
                    <li>Further investigation</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>WebSockets security 🔌</h3>
                <ul class="agenda-lessons">
                    <li>Same origin Policy</li>
                    <li>Bypassing authorization</li>
                    <li>Tunneling</li>
                    <li>Encryption</li>
                    <li>DoS Attacks</li>
                </ul>
            </div>
            <div class="agenda">
                <h3><span class="agenda-number"></span>To be announced</h3>
                <div class="chip-transparent">Coming soon! ⌛</div>
                <ul class="agenda-lessons">
                    <li>Your topic may be here!</li>
                    <li>To be decided based on needs</li>
                    <li>Free of charge for current students</li>
                </ul>
            </div>         
        </div>
    </div>
</div>