<div class="section">
    <div class="container">
        <h2 id="agenda">Agenda - watch demos 📺</h2>
        <div class="enriched-agenda-wrapper">
            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>The big plan</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>
                            Welcome lesson
                            <ul class="enriched-agenda-module-list">
                                <li>Czym jest a czym nie jest GPT-4</li>
                                <li>Oczekiwania vs Rzeczywistość</li>
                                <li>Narzędzia komplementarne [Copilot/Tabnine]</li>
                                <li>Szybki start z Playground</li>
                                <li>Praca z ChatGPT Plus</li>
                                <li>Formatowanie danych</li>
                                <li>Błędna i nieaktualna wiedza</li>
                            </ul>
                        </li>
                        <li>The big goal</li>
                        <li>Structure and topics <span class="enriched-agenda-play wistia_embed wistia_async_g58irqip1c popover=true popoverContent=link">WATCH NOW</span></li>
                        <li>What you need</li>
                        <li>Training outcomes</li>
                        <li>Your first task 🚀</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Web Security model</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Same-origin policy</li>
                        <li>Cross-origin resource sharing</li>
                        <li>Content Security Policy</li>
                        <li>Reporting in Content Security Policy</li>
                        <li>Hashes and nonces</li>
                        <li>Subresource integrity</li>
                        <li>Assignment ⚙</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Client vs. server security</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Client-side security</li>
                        <li>Server-side security</li>
                        <li>HTTPS Communication</li>
                        <li>Tokens vs. sessions</li>
                        <li>When to use tokens</li>
                        <li>When to use sessions</li>
                        <li>Assignment ⚙</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Security vulnerabilities</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>OWASP Top 10 <span class="enriched-agenda-play wistia_embed wistia_async_du0dwzpal9 popover=true popoverContent=link">WATCH NOW</span></li>
                        <li>Cross-site scripting</li>
                        <li>Cross-site request forgery</li>
                        <li>JWT Hacking <span class="enriched-agenda-play wistia_embed wistia_async_wsmkev907w popover=true popoverContent=link">WATCH NOW</span></li>
                        <li>Other web applications attacks</li>
                        <li>Assignment ⚙</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Application architecture</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Role-based access control design</li>
                        <li>Application architecure</li>
                        <li>Authentication vs. authorization</li>
                        <li>Secured frontend parts</li>
                        <li>Secured API</li>
                        <li>Backend application setup</li>
                        <li>Assignment ⚙</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>


            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Core features implementation</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Login feature in frontend</li>
                        <li>Login feature in backend</li>
                        <li>Sign up feature in frontend</li>
                        <li>Sign up feature in backend <span class="enriched-agenda-play wistia_embed wistia_async_ck7rw692j7 popover=true popoverContent=link">WATCH NOW</span></li>
                        <li>Router Guards</li>
                        <li>Http Interceptors</li>
                        <li>Assignment ⚙</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Client security implementation</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Content Security Policy</li>
                        <li>XSS prevention</li>
                        <li>CSRF prevention</li>
                        <li>HttpOnly and Secure Cookies</li>
                        <li>UserAuth object</li>
                        <li>Conditional components visibility</li>
                        <li>Coding task 🔧</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>API security implementation</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Working with sever-side session</li>
                        <li>Logging access and application events</li>
                        <li>Throttling failed logins</li>
                        <li>Input sanitization and validation</li>
                        <li>Two vectors of authorization</li>
                        <li>Preventing unauthorized requests</li>
                        <li>Setting up CORS</li>
                        <li>Coding task 🔧</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Roles and account management</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Adding a new user to an account</li>
                        <li>Confirming a new user for an account</li>
                        <li>Password recovery</li>
                        <li>Managing active sessions</li>
                        <li>Removing logged users</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>External authentication</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Main players in OAuth 2.0</li>
                        <li>Understanding different OAuth flows</li>
                        <li>Security measures in OAuth 2.0</li>
                        <li>Authorization Code Flow + PKCE</li>
                        <li>Id Token vs. Access Token</li>
                        <li>Using OpenID Connect (OIDC)</li>
                        <li>Coding task 🔧</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>Two-factor authentication</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Multi-factor authentication mechanics</li>
                        <li>Two-factor authentication with Google Authenticator <span class="enriched-agenda-play wistia_embed wistia_async_7z8ska8kh5 popover=true popoverContent=link">WATCH NOW</span></li>
                        <li>Requesting one-time password (OTP)</li>
                        <li>Validating one-time password (OTP)</li>
                        <li>Setting up 2FA</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>

            <div class="enriched-agenda">
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Module<span class="enriched-agenda-number"></span></div>
                    <h3>External user management</h3>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Topics</div>
                    <ul class="enriched-agenda-lessons">
                        <li>Federated identity management (FIM)</li>
                        <li>Single sign-on (SSO)</li>
                        <li>FIM providers comparison</li>
                        <li>IDaaS - Identity as a Service</li>
                        <li>Auth features externalization</li>
                        <li>Implementing Auth0 integration</li>
                        <li>Coding task 🔧</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Effects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Potrafisz skutecznie rozmawiać z GPT-4 i ChatGPT.</li>
                        <li>Znasz techniki wykorzystywane przez Prompt Designerów.</li>
                        <li>Znasz biznesowe zastosowanie GPT-3.5 Turbo oraz GPT-4.</li>
                        <li>Projektujesz własne, unikatowe prompty.</li>
                        <li>Korzystasz z zaawansowanych funkcji API OpenAI.</li>
                        <li>Znasz możliwości i ograniczenia GPT-4.</li>
                    </ul>
                </div>
                <div class="enriched-agenda-column">
                    <div class="enriched-agenda-column-title">Projects</div>
                    <ul class="enriched-agenda-module-list">
                        <li>Tworzenie promptu od podstaw.</li>
                        <li>Debugowanie istniejącego promptu.</li>
                        <li>Projektowanie promptu wspólnie z ChatGPT.</li>
                        <li>Własny streaming odpowiedzi z GPT-4.</li>
                        <li>Połączenie wiedzy o promptach z API.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center">
            <div class="chip mt-5">Each video with subtitles</div>
        </div>
    </div>
</div>