<div class="section section-grey section-enrolment relative">
    <div class="container">
        <h2>What is included in the Academy</h2>
        <div class="icon-box-wrapper">
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p>12-week learning program in the form of on-demand video lessons + <span class="highlighted">ALL bonus modules</span></p>
            </div>
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p>Practical coding assignments <span class="highlighted">to fortify the skills</span> (clone the repo!)</p>
            </div>
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p>12 weeks of <span class="highlighted">premium support</span> to solve coding and design challenges</p>
            </div>
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p>Access to the <span class="highlighted">fruitful Discord community</span> of devs learning together & discussing unique cases</p>
            </div>
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p><span class="highlighted">English captions</span> for every video lesson (watch without sound)</p>
            </div>
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p><span class="highlighted">Certificate of graduation</span> with your name on it (add it to your resume!)</p>
            </div>
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p><span class="highlighted">14-day money-back</span> satisfaction guarantee (100% risk-free)</p>
            </div>
            <div class="icon-box">
                <span class="icon icon-tick"></span>
                <p><span class="highlighted">Life-time access</span> to the program (with all future updates) 🔥</p>
            </div>
        </div>
    </div>
    <div class="enrolment" id="join">
      <div class="enrolment-info">
          <h2>Don't Miss The Launch</h2>
          <p>Join <span class="highlighted">the waitlist</span> to be notified about the launch and get some <span class="highlighted">awesome bonuses!</span> 😍</p>
      </div>
      <a class="button button-primary" data-formkit-toggle="4dd9d3445a" href="https://dev-academy.ck.page/4dd9d3445a">Secure your spot now!</a>
      <p>Sign up and I'll share <span class="highlighted">exclusive security insights and quick-win tips</span> to safeguard your web applications!</p>
    </div>
    <div class="enrolment" id="join" style="display: none">
        <div class="whole">The whole package for <span class="highlighted">one-time price</span></div>
        <div class="price">
          <span class="just">just</span>
          <span>€999</span>
        </div>
        
        <a class="button button-primary" href="https://courses.dev-academy.com/purchase?product_id=3669687">Join Academy now!</a>
        <div class="enrolment-info">
            <h2>LIFE-TIME MEMBERSHIP</h2>
            <p>Pay once & get <span class="highlighted">the unlimited access</span> to the training with <span class="highlighted">all the updates & bonuses!</span> 🤩</p>

            <div id="counter">
                <div class="deal">HOT DEAL 🔥 €599 <span class="crossed">€999</span> ends</div>
                <div class="counter">
                  <div class="counter-block">
                    <div class="dfD">0</div>
                    <div class="counter-legend">Days</div>
                  </div>
                  <div class="counter-block">
                    <div class="dfH">0</div>
                    <div class="counter-legend">Hours</div>
                  </div>
                  <div class="counter-block">
                    <div class="dfM">0</div>
                    <div class="counter-legend">Minutes</div>
                  </div>
                  <div class="counter-block">
                    <div class="dfS">0</div>
                    <div class="counter-legend">Seconds</div>
                  </div>
                </div>
                <a class="join-link" href="https://courses.dev-academy.com/p/academy-plans/">
                  <div class="button join-promo mb-0">Join with 40% DISCOUNT!</div>
                </a>
              </div>
        </div>
    </div>
</div>