<div class="section">
    <div class="container">
        <h2 id="faq">Frequently Asked Questions</h2>
        <div class="questions">
            <div class="question">
                <h3>How long do I have my membership in the program?</h3>
                <p>You receive a life-time membership in the program. It also means that if the program is extended with the new modules in the future, you will have the access to it, without any additional costs.</p>
            </div>
            <div class="question">
                <h3>Do you provide any guarantee?</h3>
                <p>Yes, I do. Academy offers 14 days money-back guarantee. If you don't find the program fitting your needs after 14 days of your purchase, you can ask for the refund - you just send an email to bartosz[at]websecurity-academy.com and you will receive your money back.</p>
            </div>
            <div class="question">
                <h3>I don't have time to take such a comprehensive program. Is it for me?</h3>
                <p>In order to take advantage of the program you have to invest at least 1-2 hours a week. The materials are going to be concise and concrete to maximize the learning and minimize the time needed for it.</p>
            </div>
            <div class="question">
                <h3>Will I receive a bill or invoice for later reimbursement by my company?</h3>
                <p>Yes, you will receive it for later reimbursement, but you need to provide VAT ID in the checkout (before the payment) to have VAT ID on the invoice.</p>
            </div>
            <div class="question">
                <h3>Is it all Angular and Node specific?</h3>
                <p>No! Indeed, the main project's implementation is based on Angular and Node.js (with TypeScript), but underlying concepts are applicable to any stack (React, Vue, Java, .net, Python, etc.).</p>
            </div>
            <div class="question">
                <h3>Do you add taxes to the purchase?</h3>
                <p>The payment system automatically verifies if taxes (like VAT) are applicable depending on your location and legal status. If applicable, the relevant taxes will be automatically included in your payment (without increasing the price). If you provide your VAT ID the taxes usually disappear.</p>
            </div>
        </div>
    </div>
</div>