<div class="section">
    <div class="container">
        <h2 id="faq">Frequently Asked Questions</h2>
        <div class="questions">
            <div class="question">
                <h3>How long do I have my membership in the program?</h3>
                <p>You receive a life-time membership in the program. It also means that if the program is extended with the new modules in the future, you will have the access to it, without any additional costs.</p>
            </div>
            <div class="question">
                <h3>Do you provide any guarantee?</h3>
                <p>Yes, I do. Academy offers 30 days money-back guarantee. If you don't find the program fitting your needs after 30 days of your purchase, you can ask for the refund - you just send an email to bartosz@websecurity-academy.com and you will receive your money back.</p>
            </div>
            <div class="question">
                <h3>I don't have time to take such a comprehensive program. Is it for me?</h3>
                <p>In order to take advantage of the program you have to invest at least 1 hour a week. The materials are going to be concise and concrete to maximize the learning and minimize the time needed for it.</p>
            </div>
            <div class="question">
                <h3>Will I receive a bill for later reimbursement by my company?</h3>
                <p>Yes, you will receive the bill for later reimbursement. That's really good that your employer invests in you!</p>
            </div>
            <div class="question">
                <h3>Is it all Angular and Node specific?</h3>
                <p>No! Indeed, the main project's implementation is based on Angular and Node.js (with TypeScript), but underlying concepts are applicable to any stack (React, Vue, Java, .net, Python, etc.).</p>
            </div>
            <div class="question">
                <h3>Do you add VAT tax to the purchase?</h3>
                <p>The payment system automatically verifies if VAT is applicable for you depending on your location and legal status. If you see VAT added to your purchase, most often it's enough to provide your VAT ID to make it disappear. If you don't have a VAT ID, then email me at bartosz@websecurity-academy.com so I can generate a discount for you to take this surcharge on me.</p>
            </div>
        </div>
    </div>
</div>