<div class="section section-grey" id="learning-points">
    <div class="container">
        <h2>Are these challenges making sleepless? 👀</h2>
        <div class="icon-box-wrapper icon-box-wrapper-2">

            <div class="icon-box" style="border: 2px solid black; border-radius: 10px; padding: 20px; text-align: center;">
                <p style="font-size: 16px; font-weight: bold;">Worried that a security breach could ruin your reputation and lose client trust?</p>
                <div style="margin-top: 20px;">
                    <button style="color: white; background-color: #5416b2; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">YES</button>
                    <button style="background-color: #FFFFFF; border: 1px solid black; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">NO</button>
                </div>
            </div>

            <div class="icon-box" style="border: 2px solid black; border-radius: 10px; padding: 20px; text-align: center;">
                <p style="font-size: 16px; font-weight: bold;">Fearful that a vulnerability in your code could lead to legal action and financial penalties?</p>
                <div style="margin-top: 20px;">
                    <button style="color: white; background-color: #5416b2; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">YES</button>
                    <button style="background-color: #FFFFFF; border: 1px solid black; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">NO</button>
                </div>
            </div>
            
            <div class="icon-box" style="border: 2px solid black; border-radius: 10px; padding: 20px; text-align: center;">
                <p style="font-size: 16px; font-weight: bold;">Struggling to implement comprehensive security measures without delaying projects?</p>
                <div style="margin-top: 20px;">
                    <button style="color: white; background-color: #5416b2; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">YES</button>
                    <button style="background-color: #FFFFFF; border: 1px solid black; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">NO</button>
                </div>
            </div>

            <div class="icon-box" style="border: 2px solid black; border-radius: 10px; padding: 20px; text-align: center;">
                <p style="font-size: 16px; font-weight: bold;">Afraid that a security incident could damage your professional reputation?</p>
                <div style="margin-top: 20px;">
                    <button style="color: white; background-color: #5416b2; border: none; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">YES</button>
                    <button style="background-color: #FFFFFF; border: 1px solid black; border-radius: 5px; padding: 10px 20px; font-size: 16px; cursor: pointer;">NO</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h2>Which scenario do you prefer?</h2>

        <div class="developer-box developer-box--equal">
            <div class="developer developer--equal-item">
                <div class="developer-title" style="color: rgb(244, 89, 89);">😵 Horribly Vulnerable Web Application</div>
                <div class="developer-list">
                    <ul>
                        <li>💣 cross-site scripting (XSS),</li>
                        <li>💣 credential stuffing,</li>
                        <li>💣 clickjacking,</li>
                        <li>💣 password token leakage,</li>
                        <li>💣 insecure direct object reference (IDOR),</li>
                        <li>💣 insecure data storage,</li>
                        <li>💣 SQL injection,</li>
                        <li>💣 JSON Web Token (JWT) brute forcing,</li>
                    </ul>
                </div>
            </div>

            <div class="developer developer--equal-item">
                <div class="developer-title">🤩 Robustly Secure Web Application</div>
                <div class="developer-list">
                    <ul>
                        <li>✅ solid <b>Content Security Policy</b> implemented,</li>
                        <li>✅ <b>HTTP headers</b> properly set,</li>
                        <li>✅ <b>rate limiting</b> implemented,</li>
                        <li>✅ <b>authentication</b> and <b>authorization</b> implemented,</li>
                        <li>✅ <b>input validation</b> implemented,</li>
                        <li>✅ <b>error handling</b> properly set up,</li>
                        <li>✅ <b>encryption</b> implemented,</li>
                        <li>✅ <b>logging</b> implemented,</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
