<div class="section section-grey">
    <div class="container">
        <h2>Risk-free guarantee</h2>
        <div class="guarantee">
            <div class="guarantee-info">
                <p>The materials are designed to give you 10x more value than you expect. But, if for whatever reason you will not be satified, then you can write an email within 30 days since your purchase to bartosz@websecurity-academy.com and I will give you money back.</p>
                <p class="bold">My goal is to help you and give as much value as possible.</p>
            </div>
            <div class="guarantee-image">
                <include src="partials/svg/badge.html"></include>
            </div>
        </div>
    </div>
</div>