<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Learn all you need about full-stack Web Security, implement a secure role-based enterprise-grade authorization and master OAuth/OIDC (and more!)">
<meta name="keywords" content="angular node security course training web security">

<meta property="og:type" content="website">
<meta property="og:title" content="Web Security Academy 🐱&zwj;👤 12-week online program">
<meta property="og:url" content="https://websecurity-academy.com/index.html">
<meta property="og:site_name" content="Dev Academy">
<meta property="og:description" content="Learn all you need about full-stack Web Security, implement a secure role-based enterprise-grade authorization and master OAuth/OIDC (and more!)">
<meta property="og:locale" content="english">
<meta property="og:image" content="https://websecurity-academy.com/cover.png">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Web Security Academy 🐱&zwj;👤 12-week online program">
<meta name="twitter:description" content="Learn all you need about full-stack Web Security, implement a secure role-based enterprise-grade authorization and master OAuth/OIDC (and more!)">
<meta name="twitter:image" content="https://websecurity-academy.com/cover.png">

<link rel="icon" href="assets/img/icons/favicon.png">

<title>Web Security Academy 🐱‍👤 12-week online program | Dev Academy</title>

<link rel="preload" href="assets/scss/styles.scss" as="style">
<link rel="stylesheet" href="assets/scss/styles.scss">

<link rel="preload" href="assets/fonts/Rubik.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="assets/fonts/Teko.woff2" as="font" type="font/woff2" crossorigin>

<link rel="preload" href="assets/scss/styles.scss" as="style">
<link rel="preload" href="assets/scss/desktop.scss" as="style">
<link rel="stylesheet" href="assets/scss/styles.scss">
<link rel="stylesheet" media="(min-width: 500px)" href="assets/scss/desktop.scss">