<div class="section">
  <div class="container">
    <div class="hero">
      <div class="hero-left">
        <h1>Confidently Ship Hack-Proof Web Apps in 12 Weeks</h1>
        <small>Master 30+ overlooked security skills so you can pass pentests and earn your team's trust (and boost your salary like never before)</small>
        <p>
          Waitlist members get exclusive bonuses for FREE and <span class="highlighted">save €400 when launch opens</span>. In 12-week program, you'll secure a production-ready app, fix 99% of security vulnerabilities devs miss, and become the go-to dev for secure shipping (guaranteed).
        </p>
        <a data-formkit-toggle="4dd9d3445a" href="https://dev-academy.ck.page/4dd9d3445a" class="button button-primary">Join the Waitlist → Save €400</a>
      </div>
      <div class="hero-right">
        <img src="assets/img/hero-trust.png" alt="Hero" style="box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1); border-radius: 5px; display: none">
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_c96gyuc80g videoFoam=true"
                 style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch"
                   style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                <img src="https://fast.wistia.com/embed/medias/c96gyuc80g/swatch"
                     loading="lazy"
                     style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true"
                     onload="this.parentNode.style.opacity=1;" /></div>
            </div>
          </div>
        </div>
        <div class="trust">
          <img src="assets/img/trust-pilot.png" alt="">
          <div class="trust-score">
            <span>TrustScore <strong>4.8</strong> | </span>
            <span>EXCELLENT | </span>
            <a href="https://www.trustpilot.com/review/websecurity-academy.com" target="_blank" rel="nofollow noopener noreferrer" class="bold">READ MORE 📈</a>
          </div>
        </div>
      </div>
    </div>
    <h3 class="center text-center">Trusted by Devs at Nike, Disney & Capgemini</h3>
    <div class="confs">
      <img class="confs-mobile" src="assets/img/logos-mobile.png" alt="">
      <img class="confs-desktop" src="assets/img/logos-desktop-wide.png" alt="">
    </div>
  </div>
</div>