<section class="hero">
  <div class="hero-content">
    <h1>Discover the <div class="gradient-text large-text">SECRETS</div> of Web Applications security!</h1>
    <p class="hero-description">Learn how to <span class="gradient-text">design and code</span> secure full-stack applications.<br class="hide-on-mobile">
      Build powerful defences against the latest threats.<br class="hide-on-mobile">
      Grow your knowledge and skills.
    </p>
    <a data-formkit-toggle="4dd9d3445a" href="https://dev-academy.ck.page/4dd9d3445a" class="cta-button">Join the waiting list →</a>
    <div class="course-info">
      <div>
        <h2>Online bootcamp for developers</h2>
      </div>
    </div>
  </div>
</section>