<div class="section">
  <div class="container">
    <div class="hero">
      <div class="hero-left">
        <h1>Web security academy</h1>
        <small>12-week online bootcamp</small>
        <p>Learn all you need about full-stack Web Security, implement a secure role-based enterprise-grade authorization and master OAuth/OIDC (and more!)</p>
        <div class="trust">
          <img src="assets/img/trust-pilot.png" alt="">
          <div class="trust-score">
            <span>Trustscore <strong>4.6</strong> | </span>
            <span>EXCELLENT | </span>
            <a href="https://www.trustpilot.com/review/websecurity-academy.com" target="_blank" rel="nofollow noopener noreferrer">Read more</a>
          </div>
        </div>
        <a href="#join" class="button button-primary">Join the Academy</a>
      </div>
      <div class="hero-right">
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
          <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div class="wistia_embed wistia_async_c96gyuc80g videoFoam=true"
                 style="height:100%;position:relative;width:100%">
              <div class="wistia_swatch"
                   style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                <img src="https://fast.wistia.com/embed/medias/c96gyuc80g/swatch"
                     loading="lazy"
                     style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true"
                     onload="this.parentNode.style.opacity=1;" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="confs">
      <img class="confs-mobile" src="assets/img/logos-mobile.jpg" alt="">
      <img class="confs-desktop" src="assets/img/logos-desktop.jpg" alt="">
    </div>
  </div>
</div>