<div class="section section-grey">
    <div class="container">
        <h2 id="agenda">Guest Mentors</h2>
        <div class="agenda-wrapper">
            <div class="card">
                <img src="assets/img/mentors/randall.png" alt="Randall Deggs">
                <div class="mentor-name">Randall Deggs</div>
                <div class="session-title">Snyk.io Head of DevRel</div>
                <a href="/podcast/s1e1" class="podcast-link">Podcast Episode 1</a> <span class="guest">Guest</span>
            </div>
            <div class="card">
                <img src="assets/img/mentors/marek.png" alt="Marek Šottl">
                <div class="mentor-name">Marek Šottl</div>
                <div class="session-title">Cloud Security Expert</div>
                <a href="/podcast/s1e7" class="podcast-link">Podcast Episode 7</a> <span class="guest">Guest</span>
            </div>
            <div class="card">
                <img src="assets/img/mentors/mathias.jpeg" alt="Marek Šottl">
                <div class="mentor-name">Mathias Conradt</div>
                <div class="session-title">OWASP member</div>
            </div>
            <div class="card">
                <div class="image-placeholder"></div>
                <div class="mentor-name">Coming soon!</div>
                <div class="session-title">TBA</div>
            </div>
            <div class="card">
                <div class="image-placeholder"></div>
                <div class="mentor-name">Coming soon!</div>
                <div class="session-title">TBA</div>
            </div>
            <div class="card">
                <div class="image-placeholder"></div>
                <div class="mentor-name">Coming soon!</div>
                <div class="session-title">TBA</div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .card .image-placeholder {
        width: 120px;
        height: 120px;
        background-color: rgba(106, 13, 173, 0.1);
        border-radius: 50%;
        margin: 0 auto 20px;
    }

    .card img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 0 auto 20px;
    }

    .card .mentor-name {
        font-size: 1.5em;
        font-weight: bold;
        margin: 10px 0;
    }

    .card .session-title {
        font-size: 1.2em;
        color: grey;
        margin: 10px 0;
    }

    .card .podcast-link {
        font-size: 1em;
        color: #6a0dad;
        text-decoration: none;
    }

    .card .podcast-link:hover {
        text-decoration: underline;
    }

    .card .guest {
        color: grey;
    }
</style>