<header class="header">
    <nav class="nav">
        <ul>
            <li><a class="nav-link" href="#agenda">Agenda</a></li>
            <li><a class="nav-link" href="#testimonials">Testimonials</a></li>
            <li><a class="nav-link nav-link-hidden" href="#faq">FAQ</a></li>
            <li><a class="nav-link nav-link-hidden" href="https://dev-academy.teachable.com" rel="noopener nofollow" target="_blank">Login</a></li>
            <li><a class="nav-link nav-link-highlighted" href="#join">Join</a></li>
        </ul>
    </nav>
</header>