<header class="header">
    <nav class="nav nav-fixed">
        <div class="nav-internal">
            <div class="nav-title">
                <a class="nav-logo">
                    <img src="assets/img/nav-logo.png" width="42" height="42" alt="Web Security Dev Academy Logo">
                    <span>
                        <span class="bold uppercase">Web Security</span>
                        <span class="primary-highlight">Dev Academy</span>
                    </span>
                    <div class="counter-nav" id="counter-nav" style="display: none">
                        <div class="counter-price">
                            <div class="bold">SALE END:</div>
                        </div>
                        <div class="counter-block">
                            <div class="dfD">0</div>
                            <div class="counter-legend">D</div>
                        </div>
                        <div class="counter-block">
                            <div class="dfH">0</div>
                            <div class="counter-legend">H</div>
                        </div>
                        <div class="counter-block">
                            <div class="dfM">0</div>
                            <div class="counter-legend">M</div>
                        </div>
                        <div class="counter-block">
                            <div class="dfS">0</div>
                            <div class="counter-legend">S</div>
                        </div>
                    </div>
                </a>
            </div>
            <span class="nav-divider"></span>
            <ul>
                <li><a class="nav-link nav-link-hidden" href="#agenda">Agenda</a></li>
                <!-- <li><a class="nav-link nav-link-hidden" href="#schedule">Schedule</a></li> -->
                <li><a class="nav-link nav-link-hidden" href="#testimonials">Testimonials</a></li>
                <li><a class="nav-link nav-link-hidden" href="#faq">FAQ</a></li>
                <li><a class="nav-link nav-link-hidden" href="https://courses.dev-academy.com/sign_in" rel="noopener nofollow" target="_blank">Login</a></li>
                <li><a class="nav-link nav-link-highlighted cta-button" data-formkit-toggle="4dd9d3445a" href="https://dev-academy.ck.page/4dd9d3445a">Join  →</a></li>
            </ul>
            </div>
    </nav>
</header>