<header class="header">
    <nav class="nav">
        <div class="nav-internal">
            <div class="nav-title">
                <a class="nav-logo">
                    <img src="assets/img/nav-logo.png" width="42" height="42" alt="Web Security Dev Academy Logo">
                    <span>
                        <span class="bold uppercase">Web Security</span>
                        <span class="primary-highlight">Dev Academy</span>
                    </span>
                </a>
            </div>
            <span class="nav-divider"></span>
            <ul>
                <li><a class="nav-link nav-link-hidden" href="#agenda">Agenda</a></li>
                <li><a class="nav-link nav-link-hidden" href="#testimonials">Testimonials</a></li>
                <li><a class="nav-link nav-link-hidden" href="#faq">FAQ</a></li>
                <li><a class="nav-link nav-link-hidden" href="https://courses.dev-academy.com/sign_in" rel="noopener nofollow" target="_blank">Login</a></li>
                <li><a class="nav-link nav-link-highlighted" href="#join">Join</a></li>
            </ul>
            </div>
    </nav>
</header>