<div class="section section-grey" id="learning-points">
    <div class="container">
        <h2>By the end of this program, you will...</h2>
        <div class="icon-box-wrapper">
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/complete.html"></include>
                </span>
                <p>Have a complete understanding of the Web security model and <span class="highlighted">fill all your knowledge gaps</span> as a developer</p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/shield.html"></include>
                </span>
                <p>Learn Web security vulnerabilities and implement <span class="highlighted">industry-standard prevention methods</span></p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/secure.html"></include>
                </span>
                <p>Know how to design & build an ultra-secure role-based access control system in a <span class="highlighted">real-world, full-stack application</span></p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/lock.html"></include>
                </span>
                <p>Master the complexity of OAuth/OIDC and be able to implement <span class="highlighted">different flows securely</span> for specific use cases</p>
            </div>
        </div>
    </div>
</div>