<div class="section section-grey" id="learning-points">
    <div class="container">
        <h2>By the end of this program, you will...</h2>
        <div class="icon-box-wrapper">
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/complete.html"></include>
                </span>
                <p>Have a complete understanding of the Web Security model and fill all knowledge gaps</p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/shield.html"></include>
                </span>
                <p>Learn Web Security vulnerabilities and industry-standard prevention methods</p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/secure.html"></include>
                </span>
                <p>Know how to implement an ultra-secure role-based access control in a real-life full-stack application</p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/lock.html"></include>
                </span>
                <p>Master the complexity of OAuth/OIdC and be able to implement different flows securely</p>
            </div>
        </div>
    </div>
</div>