<div class="section section-grey">
    <div class="container">
        <h2 id="project">Practical project with real-world features</h2>
        <p>With this comprehensive training program, you'll learn theoretical knowledge and use it to practically <b class="highlighted">secure a real-life personal money tracker</b> application. This project is composed of five key modules — Auth, Dashboard, Expenses, Settings, and Admin — each designed to challenge and enhance your Web security skills. You'll learn <b>role-based access control (RBAC)</b> to manage different user permissions effectively and implement cutting-edge security mechanisms across both <b>frontend and backend systems.</b> By the end of this program, you will not only understand security concepts but will also have the practical skills to design and safeguard Web applications against sophisticated threats.</p>
        <div class="project-wrapper">
            <div class="project-module">
                <h3><span class="project-module-number"></span>Auth module</h3>
                <ul class="features">
                    <li>Login, signup, password recovery</li>
                    <img class="project-module-screen" src="assets/img/budget/login.png" alt="Auth">
                </ul>
            </div>
            <div class="project-module">
                <h3><span class="project-module-number"></span>Dashboard</h3>
                <ul class="features">
                    <li>Read budgets and account summary</li>
                    <img class="project-module-screen top" src="assets/img/budget/dashboard.png" alt="Auth">
                </ul>
            </div>
            <div class="project-module">
                <h3><span class="project-module-number"></span>Expenses</h3>
                <ul class="features">
                    <li>Manage account's expenses</li>
                    <img class="project-module-screen top" src="assets/img/budget/expenses.png" alt="Auth">
                </ul>
            </div>
            <div class="project-module">
                <h3><span class="project-module-number"></span>Settings</h3>
                <ul class="features">
                    <li>Manage account's users and categories</li>
                    <img class="project-module-screen top" src="assets/img/budget/settings.png" alt="Auth">
                </ul>
            </div>
            <div class="project-module">
                <h3><span class="project-module-number"></span>Admin module</h3>
                <ul class="features">
                    <li>Manage active sessions of logged users</li>
                    <img class="project-module-screen top" src="assets/img/budget/admin.png" alt="Auth">
                </ul>
            </div>
        </div>
    </div>
</div>