<div class="section schedule schedule-hidden">
    <div class="container">
        <h2>Academy Schedule</h2>
        <div class="schedule-weeks">
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">27</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">28</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">29</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">30</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">1</div>
                        </div>
                        <div class="schedule-description">Registration starts 🎉</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">2</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">3</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 1 - The big plan</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">4</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">5</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">6</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">7</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">8</div>
                        </div>
                        <div class="schedule-description">Registration closes ❌</div>
                    </div>
                    <div class="schedule-card schedule-card-purple">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">9</div>
                        </div>
                        <div class="schedule-description">Module 2<br>released</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">10</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 2 - Web Security Model</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">27</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">28</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">29</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">30</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">1</div>
                        </div>
                        <div class="schedule-description">Registration starts 🎉</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">2</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">3</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 3 - Client vs. server security</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">4</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">5</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">6</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">7</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">8</div>
                        </div>
                        <div class="schedule-description">Registration closes ❌</div>
                    </div>
                    <div class="schedule-card schedule-card-purple">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">9</div>
                        </div>
                        <div class="schedule-description">Module 2<br>released</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">10</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 4 - Security vulnerabilities</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">27</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">28</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">29</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">30</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">1</div>
                        </div>
                        <div class="schedule-description">Registration starts 🎉</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">2</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">3</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 5 - Application architecure</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">4</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">5</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">6</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">7</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">8</div>
                        </div>
                        <div class="schedule-description">Registration closes ❌</div>
                    </div>
                    <div class="schedule-card schedule-card-purple">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">9</div>
                        </div>
                        <div class="schedule-description">Module 2<br>released</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">10</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 6 - Core features implementation</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">27</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">28</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">29</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">30</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">1</div>
                        </div>
                        <div class="schedule-description">Registration starts 🎉</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">2</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">3</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 7 - Client security implementation</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">4</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">5</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">6</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">7</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">8</div>
                        </div>
                        <div class="schedule-description">Registration closes ❌</div>
                    </div>
                    <div class="schedule-card schedule-card-purple">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">9</div>
                        </div>
                        <div class="schedule-description">Module 2<br>released</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">10</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 8 - API security implementation</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">27</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">28</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">29</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">30</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">1</div>
                        </div>
                        <div class="schedule-description">Registration starts 🎉</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">2</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">3</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 9 - Roles and account management</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">4</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">5</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">6</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">7</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">8</div>
                        </div>
                        <div class="schedule-description">Registration closes ❌</div>
                    </div>
                    <div class="schedule-card schedule-card-purple">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">9</div>
                        </div>
                        <div class="schedule-description">Module 2<br>released</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">10</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 10 - External authentication</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">27</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">28</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">29</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">30</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">1</div>
                        </div>
                        <div class="schedule-description">Registration starts 🎉</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">2</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">3</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 11 - Multi-factor authentication</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">4</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">5</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">6</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">7</div>
                        </div>
                        <div class="schedule-description">Registration</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">8</div>
                        </div>
                        <div class="schedule-description">Registration closes ❌</div>
                    </div>
                    <div class="schedule-card schedule-card-purple">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">9</div>
                        </div>
                        <div class="schedule-description">Module 2<br>released</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">10</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Week 12 - External user management</span>
            </div>
            <div class="schedule-week">
                <div class="schedule-days">
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Monday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">27</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Tuesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">28</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Wednesday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">29</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Thursday</div>
                                <div class="schedule-month">September</div>
                            </div>
                            <div class="schedule-day">30</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-pink">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Friday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">1</div>
                        </div>
                        <div class="schedule-description">Registration starts 🎉</div>
                    </div>
                    <div class="schedule-card">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Saturday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">2</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                    <div class="schedule-card schedule-card-grey">
                        <div class="schedule-date">
                            <div class="schedule-date-top">
                                <div class="schedule-weekday">Sunday</div>
                                <div class="schedule-month">October</div>
                            </div>
                            <div class="schedule-day">3</div>
                        </div>
                        <div class="schedule-description">Time to study</div>
                    </div>
                </div>
                <span class="chip schedule-week-title">Extra Week</span>
            </div>
        </div>
        <div class="schedule-navigation">
            <div class="schedule-navigation-prev"></div>
            <div>You can learn solo - live calls are optional (but very helpful 🔥)</div>
            <div class="schedule-navigation-next"></div>
        </div>
    </div>
</div>