<div id="schedule" class="section schedule schedule-hidden">
    <div class="container">
        <h2>Schedule @ 2024</h2>
        <p>Modules are <b>pre-recorded</b> and released weekly. After the program, you gain <b>lifetime access</b> to them. LIVE sessions are planned for Thursdays at 7 PM CEST, 1 PM EDT, and 10 AM PDT.</p>
            <div class="schedule-weeks">
            <div class="schedule-month">
                <div class="schedule-week">
                    <div class="schedule-days">
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                </div>
                                <div class="schedule-day">3</div>
                            </div>
                            <div class="schedule-description">Module 1 published</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                </div>
                                <div class="schedule-day">4</div>
                            </div>
                            <div class="schedule-description">LIVE 1 🔴</br> FREE WEBINAR</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                </div>
                                <div class="schedule-day">5</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">6</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">7</div>
                            </div>
                            <div class="schedule-description">Module 2 published</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">8</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">9</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                </div>
                <div class="schedule-week">
                    <div class="schedule-days">
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                </div>
                                <div class="schedule-day">10</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                </div>
                                <div class="schedule-day">12</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-pink schedule-card--bolder">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                </div>
                                <div class="schedule-day">11</div>
                            </div>
                            <div class="schedule-description">Registration closes ❌</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">13</div>
                            </div>
                            <div class="schedule-description">LIVE 2 🔴 Q&A</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">14</div>
                            </div>
                            <div class="schedule-description">Module 3<br>published</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">15</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">16</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                </div>
                <div class="schedule-week">
                    <div class="schedule-days">
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                </div>
                                <div class="schedule-day">17</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                </div>
                                <div class="schedule-day">18</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                </div>
                                <div class="schedule-day">19</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">20</div>
                            </div>
                            <div class="schedule-description">LIVE 3 🔴 Q&A</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">21</div>
                            </div>
                            <div class="schedule-description">Module 4<br>published</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">22</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">23</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                </div>
                <div class="schedule-week">
                    <div class="schedule-days">
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                </div>
                                <div class="schedule-day">24</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                </div>
                                <div class="schedule-day">25</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                </div>
                                <div class="schedule-day">26</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">27</div>
                            </div>
                            <div class="schedule-description">LIVE 4 🔴 Q&A</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">28</div>
                            </div>
                            <div class="schedule-description">Module 5<br>published</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">29</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">30</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                    <span class="chip schedule-week-title">June 2024</span>
                </div>
            </div>
            <div class="schedule-month">
                <div class="schedule-week">
                    <div class="schedule-days">
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                </div>
                                <div class="schedule-day">1</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                </div>
                                <div class="schedule-day">2</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                </div>
                                <div class="schedule-day">3</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">4</div>
                            </div>
                            <div class="schedule-description">LIVE 5 🔴 Q&A</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">5</div>
                            </div>
                            <div class="schedule-description">Module 6 published</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">6</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">7</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                </div>
                <div class="schedule-week">
                    <div class="schedule-days">
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                </div>
                                <div class="schedule-day">8</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                </div>
                                <div class="schedule-day">9</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                </div>
                                <div class="schedule-day">10</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">11</div>
                            </div>
                            <div class="schedule-description">LIVE 6 🔴 Q&A</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">12</div>
                            </div>
                            <div class="schedule-description">Module 7 released</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">13</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">14</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                    <div class="schedule-week">
                        <div class="schedule-days">
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Monday</div>

                                    </div>
                                    <div class="schedule-day">15</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Tuesday</div>

                                    </div>
                                    <div class="schedule-day">16</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Wednesday</div>

                                    </div>
                                    <div class="schedule-day">17</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card schedule-card-highlight">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Thursday</div>

                                    </div>
                                    <div class="schedule-day">18</div>
                                </div>
                                <div class="schedule-description">LIVE 7 🔴 Q&A</div>
                            </div>
                            <div class="schedule-card schedule-card-purple">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Friday</div>

                                    </div>
                                    <div class="schedule-day">19</div>
                                </div>
                                <div class="schedule-description">Module 8 released</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Saturday</div>

                                    </div>
                                    <div class="schedule-day">20</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card schedule-card-grey">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Sunday</div>

                                    </div>
                                    <div class="schedule-day">21</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                        </div>
                    </div>
                    <div class="schedule-week">
                        <div class="schedule-days">
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Monday</div>

                                    </div>
                                    <div class="schedule-day">22</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Tuesday</div>

                                    </div>
                                    <div class="schedule-day">23</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Wednesday</div>

                                    </div>
                                    <div class="schedule-day">24</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card schedule-card-highlight">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Thursday</div>

                                    </div>
                                    <div class="schedule-day">25</div>
                                </div>
                                <div class="schedule-description">LIVE 8 🔴 Q&A</div>
                            </div>
                            <div class="schedule-card schedule-card-purple">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Friday</div>

                                    </div>
                                    <div class="schedule-day">26</div>
                                </div>
                                <div class="schedule-description">Module 9 released</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Saturday</div>

                                    </div>
                                    <div class="schedule-day">27</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card schedule-card-grey">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Sunday</div>
                                    </div>
                                    <div class="schedule-day">28</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                        </div>
                    </div>
                    <span class="chip schedule-week-title">July 2024</span>
                </div>
            </div>
            <div class="schedule-month">
                <div class="schedule-week">
                    <div class="schedule-days">
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                    <div the="schedule-month">July</div>
                                </div>
                                <div class="schedule-day">29</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                    <div the="schedule-month">July</div>
                                </div>
                                <div class="schedule-day">30</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                    <div the="schedule-month">July</div>
                                </div>
                                <div class="schedule-day">31</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">1</div>
                            </div>
                            <div class="schedule-description">LIVE 9 🔴 Q&A</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">2</div>
                            </div>
                            <div class="schedule-description">Module 10 published</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">3</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">4</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                    <div class="schedule-days">
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Monday</div>
                                </div>
                                <div class="schedule-day">5</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Tuesday</div>
                                </div>
                                <div class="schedule-day">6</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Wednesday</div>
                                </div>
                                <div class="schedule-day">7</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-highlight">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Thursday</div>
                                </div>
                                <div class="schedule-day">8</div>
                            </div>
                            <div class="schedule-description">LIVE 10 🔴 Q&A</div>
                        </div>
                        <div class="schedule-card schedule-card-purple">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Friday</div>
                                </div>
                                <div class="schedule-day">9</div>
                            </div>
                            <div class="schedule-description">Module 11 published</div>
                        </div>
                        <div class="schedule-card">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Saturday</div>
                                </div>
                                <div class="schedule-day">10</div>
                            </div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                        <div class="schedule-card schedule-card-grey">
                            <div class="schedule-date">
                                <div class="schedule-date-top">
                                    <div class="schedule-weekday">Sunday</div>
                                </div>
                                <div class="schedule-day">11</div>
                            </div>
                            <div the="schedule-month">August</div>
                            <div class="schedule-description">Time to study</div>
                        </div>
                    </div>
                    <div class="schedule-week">
                        <div class="schedule-days">
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Monday</div>
                                    </div>
                                    <div class="schedule-day">12</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Tuesday</div>
                                    </div>
                                    <div class="schedule-day">13</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Wednesday</div>
                                    </div>
                                    <div class="schedule-day">14</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card schedule-card-highlight">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Thursday</div>
                                    </div>
                                    <div class="schedule-day">15</div>
                                </div>
                                <div class="schedule-description">LIVE 11 🔴 Q&A</div>
                            </div>
                            <div class="schedule-card schedule-card-purple">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Friday</div>
                                    </div>
                                    <div class="schedule-day">16</div>
                                </div>
                                <div class="schedule-description">Module 12 published</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Saturday</div>
                                    </div>
                                    <div class="schedule-day">17</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card schedule-card-grey">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Sunday</div>
                                    </div>
                                    <div class="schedule-day">18</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                        </div>
                    </div>
                    <div class="schedule-week">
                        <div class="schedule-days">
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Monday</div>
                                    </div>
                                    <div class="schedule-day">19</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Tuesday</div>
                                    </div>
                                    <div class="schedule-day">20</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Wednesday</div>
                                    </div>
                                    <div class="schedule-day">21</div>
                                </div>
                                <div class="schedule-description">Time to study</div>
                            </div>
                            <div class="schedule-card schedule-card-highlight">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Thursday</div>
                                    </div>
                                    <div class="schedule-day">22</div>
                                </div>
                                <div class="schedule-description">LIVE 12 🔴 Q&A</div>
                            </div>
                            <div class="schedule-card schedule-card-pink schedule-card--bolder">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Friday</div>
                                    </div>
                                    <div class="schedule-day">23</div>
                                </div>
                                <div class="schedule-description">You're Web Security Master</div>
                            </div>
                            <div class="schedule-card">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Saturday</div>
                                    </div>
                                    <div class="schedule-day">24</div>
                                </div>
                                <div class="schedule-description">The end 🎉</div>
                                
                            </div>
                            <div class="schedule-card schedule-card-grey">
                                <div class="schedule-date">
                                    <div class="schedule-date-top">
                                        <div class="schedule-weekday">Sunday</div>
                                    </div>
                                    <div class="schedule-day">25</div>
                                </div>
                                <div class="schedule-description">The end 🎉</div>
                            </div>
                        </div>
                    </div>
                    
                    <span class="chip schedule-week-title">August 2024</span>
                </div>
            </div>
        </div>
        <div class="schedule-navigation">
            <div class="schedule-navigation-prev"></div>
            <div class="schedule-large-text">You can learn solo - LIVES are optional, but very helpful 🔥 as these topics are complex!</div>
            <div class="schedule-navigation-next"></div>
        </div>
    </div>
</div>