<!-- REQUIRED SCRIPTS BELOW - NO CONSENT -->
<script src="./index.ts" type="module" defer></script>
<script src="./scripts/posthog.js" type="module" defer></script>

<!-- VIDEO PLAYER -->
<script src="https://fast.wistia.com/assets/external/E-v1.js" defer></script>

<!-- HERO VIDEO -->
<script src="https://fast.wistia.com/embed/medias/c96gyuc80g.jsonp" defer></script>

<!-- DEMO LESSONS -->
<script src="https://fast.wistia.com/embed/medias/4g9ir9p9nr.jsonp" async></script>
<script src="https://fast.wistia.com/embed/medias/wsmkev907w.jsonp" async></script>
<script src="https://fast.wistia.com/embed/medias/du0dwzpal9.jsonp" async></script>
<script src="https://fast.wistia.com/embed/medias/g58irqip1c.jsonp" async></script>

<!-- TESTIMONIAL VIDEOS -->
<script src="https://fast.wistia.com/embed/medias/bwxrae4o83.jsonp" defer></script>
<script src="https://fast.wistia.com/embed/medias/y3x12rj36l.jsonp" defer></script>
<script src="https://fast.wistia.com/embed/medias/uoclpua8qf.jsonp" defer></script>
<script src="https://fast.wistia.com/embed/medias/027j20np4z.jsonp" defer></script>
