<div class="section">
    <div class="container">
        <h2>Is there another way?</h2>
        <div class="slack">
            <div class="slack-info">
                <p>Of course! You can be learning on your own, googling, writing questions on StackOverflow, etc. But it takes a lot of time...</p>
                <p>What I am offering you is a MASSIVE shortcut in a supportive learning enviroment. Take a look at what Ales said. 👨‍🎓</p>
            </div>
            <div class="slack-image">
                <img src="assets/img/screens.gif" loading="lazy" alt="">
            </div>
        </div>
    </div>
</div>