<div class="section">
    <div class="container">
        <h2>Your teacher</h2>
        <div class="teacher">
            <ul class="list">
                <li>Taught hundreds of developers around the World</li>
                <li>Holds a Master's degree in Computer Science</li>
                <li>Spoke at <a href="https://www.google.com/search?q=bartosz+pietrucha&tbm=vid" class="link" rel="nofollow noopener" target="_blank"><span>conferences</span></a> like AngularUP, ngVikings, NG-Colombia, JSConf.be, HolyJS and more</li>
                <li>Worked at companies like Credit Suisse, UBS, F-Secure, Tecnotree building enterprise software</li>
                <li>Writes <a href="https://dev-academy.com/" class="link" rel="noopener" target="_blank"><span>technical articles</span></a> about full-stack Angular development</li>
            </ul>
            <div class="teacher-info">
                <img src="assets/img/bartosz-pietrucha.jpg" loading="lazy" alt="Bartosz Pietrucha">
                <div class="teacher-info-title">
                    <h3>Bartosz Pietrucha</h3>
                    <span>Academy Founder</span>
                </div>
            </div>
        </div>
        <div class="center">
            <span class="chip">Supported by mentors in our Discord community</span>
        </div>
    </div>
</div>