<div class="section section-testimonials">
    <div class="container">
        <h2 id="testimonials">What others say</h2>
        <div class="testimonials">
            <div class="testimonial">
                <div class="testimonial-video">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                                class="wistia_embed wistia_async_bwxrae4o83 popover=true popoverAnimateThumbnail=true videoFoam=true"
                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div>
                    </div>
                </div>
                <div class="testimonial-author">
                    <img src="assets/img/ninja-jump.png" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Our amazing students ❤</div>
                        <div class="testimonial-author-title">Worldwide</div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial-video">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                                class="wistia_embed wistia_async_y3x12rj36l popover=true popoverAnimateThumbnail=true videoFoam=true"
                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div>
                    </div>
                </div>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/yalon.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Yalon K.</div>
                        <div class="testimonial-author-title">Web developer, Israel</div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial-video">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                                class="wistia_embed wistia_async_uoclpua8qf popover=true popoverAnimateThumbnail=true videoFoam=true"
                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div>
                    </div>
                </div>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/ioannis.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Ioannis K.</div>
                        <div class="testimonial-author-title">Web developer, Greece</div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="testimonial-video">
                    <div style="padding:56.25% 0 0 0;position:relative;">
                        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span
                                class="wistia_embed wistia_async_027j20np4z popover=true popoverAnimateThumbnail=true videoFoam=true"
                                style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div>
                    </div>
                </div>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/claudiu.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Claudiu O.</div>
                        <div class="testimonial-author-title">Web developer, Romania</div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <p>Bartosz's experience is demonstrated in the Web Security program. I was pleased to go over the first few lessons and learn the theory behind Web Security. All the concepts learned were later put into practice with his great Angular application backed by a Node.js service. Although I'm a Spring Boot developer, I was able to apply all the principles and concepts of Web Security in my applications. Also, the live sessions are essential in this program to ask and respond questions and build a great community. The program is updated regularly with new modules, I can't wait for the Firebase Security one! Keep up the great work!</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/ruben_o.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Ruben O.</div>
                        <div class="testimonial-author-title">Full-stack Web Developer, Canada</div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <p>Finding a complete and up to date Web security content is hard and time consuming, especially as a whole. With Web Security Academy, I found out a great opportunity to learn about security in depth both on client and server sides. The program's material isn't just a simple support to learn but provides good practices of a real world application. Bartosz is a great teacher and meetings with him and other students is part of the program, giving you the support from a whole community.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/gerome_g.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Gérôme G.</div>
                        <div class="testimonial-author-title">Web developer, France</div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <p>This program will give you a fresh perspective in security for the web, regardless if you've been in dev for years or are a new programmer. Bartosz builds lessons from upcoming web security standards making the curriculum up-to-date, contrasting what others might find on a bookshelf. I guarantee you'll find value in this program.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/peter_m.jpeg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Peter M.</div>
                        <div class="testimonial-author-title">Founder at Geogram, USA</div>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <p>I am very skeptical about online courses or courses in general. However, I have seen Bartosz on YouTube in some videos and decided to join the program because I was excited by the way it was structured. There were many topics I was already experienced in but I must say that I still learned a lot. Especially the Online Meetings and the knowledge exchange was a real added value and I would recommend this program to anyone. The content did not disappoint me and I learned exactly the things I needed to develop in this area. Good Job Bartosz!</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/david_k.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">David K.</div>
                        <div class="testimonial-author-title">Software engineer, Germany</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>I am really impressed with the quality of the materials in the Academy. The content is designed in easy to consume fashion and focuses on important aspects. Also, it is very valuable to learn together with other developers over an extended period of time. I really recommend this kind of online training.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/alex_g.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Alex G.</div>
                        <div class="testimonial-author-title">Developer and author, Spain</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>The program is really well built. It first guides you through the ways a SPA can be vulnerable and the ways those vulnerabilities can be fixed, then it teaches you how to implement those protection mechanisms with Angular, without getting stuck on general development questions too much. It also shows the backend parts of those protection mechanisms. After completing the program I feel confident that I can protect the webapps I develop.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/alex.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Alex B.</div>
                        <div class="testimonial-author-title">Web Developer, Hungary</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>If you are looking for a training to take you from just a front-end developer to a full-stack Angular/Node.js, then this is it. I have been an Angular contractor for a couple of years now and still learned some valuable tips for the front-end but the back-end has been invaluable to me for understanding how to build a highly secure full-stack application. The teacher is always there to help and really does care about you achieving the best from the program. He takes time to explain concepts in excellent weekly meetings where you will meet a great bunch of developers from all around the world and bounce new ideas off each other. Far better than the other Angular security courses I have taken in the past.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/rich.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Rich W.</div>
                        <div class="testimonial-author-title">Developer, UK</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>WebSecurity Academy is a great place to learn new skills or increase your current. The instructor is very kind and has a goal that you understand all the content, so there's a Community (Slack) that you'll be a part of so you can ask questions (or help answer them), talk personally with the instructor, and get to know the other students. One thing I really like about this program is that it's paced over a certain amount of time. You won't be overwhelmed with On-Demand videos, although later you'll have on-demand access forever, which also nice! Overall, I give this 5 out of 5 stars!</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/kenny.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Kenny H.</div>
                        <div class="testimonial-author-title">Full-stack developer, USA</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>Bartosz brings in-depth knowledge and experience in Angular enterprise development. He gives tremendous value to the Angular community.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/brad.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Brad Green</div>
                        <div class="testimonial-author-title">Engineering Director for Angular in Google</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>Bartosz's Angular training was probably the best I've attended so far. He always tried to explain everything in the way when both novice and experienced developer could understand it, but at the same time he spent not too much time on simple things - probably that balance was the most important personally for me.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/pavlo.jfif" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Pavlo Baukov</div>
                        <div class="testimonial-author-title">Java developer</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>Bartosz is a able to conduct trainings with a great professionalism. I've attended his training on Angular and found it very useful, as Bartosz in a limited time frame provided both theoretical knowledge and practical exercises and eventually helped me to delve into front end web development.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/anton.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Anton Danylov</div>
                        <div class="testimonial-author-title">.NET Team Lead</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>Recently I've participated in a training conducted by Bartek. I would say he is a very talented trainer with individual approach to every student.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/andrii.jfif" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Andrii Tkach</div>
                        <div class="testimonial-author-title">Senior .NET developer at Luxoft</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>I've attended Bartosz's training for Angular 2 and want to say, that it is one of the best trainings I've visited. Bartosz kept us all the time focused on tha task and everybody was involved in the process. Four days past like a minute and I had a feeling, that I want to stay and continue learning. And at the same time we were able to cover a lot of topics and Bartosz gave us a direction for further learning.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/olexandr.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Oleksandr Vorovchenko</div>
                        <div class="testimonial-author-title">Senior Frontend Developer</div>
                    </div>
                </div>
            </div>
            <div class="testimonial testimonial-hidden">
                <p>I had a true pleasure to attend a training led by Bartosz. Right away I was positively surprised with the level and attitude. Bartosz not only knows by heart the stuff he teaches, but really likes what he does. He was keen to answer all questions and also helped with practical excercies. He had everything under control. The ratio between theory and practical tasks was just right.</p>
                <div class="testimonial-author">
                    <img src="assets/img/testimonials/jakub.jpg" loading="lazy" alt="">
                    <div class="testimonial-author-info">
                        <div class="testimonial-author-name">Jakub Niemyjski</div>
                        <div class="testimonial-author-title">Senior .Net Developer</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="button button-secondary" id="more-testimonials">Show more testimonials</button>
    </div>
</div>