<div class="section" id="learning-points">
    <div class="container">
        <h2>Time commitment ⏰</h2>
        <div class="icon-box-wrapper">
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/shield.html"></include>
                </span>
                <p>Each week's materials consist of <span class="highlighted">1-2 hours of video</span> materials (that are extremely optimized and condensed, no B.S.)</p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/shield.html"></include>
                </span>
                <p>After each module, you have the <span class="highlighted">assignment to practice</span> what you learned - depending on your pace it may take 2-3 hours</p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/shield.html"></include>
                </span>
                <p>Each week (check the schedule) you are invited to join an (optional) <span class="highlighted">live Q&A session</span> to answer your questions</p>
            </div>
            <div class="icon-box">
                <span class="icon">
                    <include src="partials/svg/shield.html"></include>
                </span>
                <p>You can always <span class="highlighted">ask questions under the videos</span> in the comments section or get support via <span class="highlighted">the Discord community</span></p>
            </div>
        </div>
    </div>
</div>