<div class="cookie-info">
    <p>This website uses cookies to ensure you get the best experience on our website. By using the website, you agree to our use of cookies.</p>
    <div>
        <a class="btn btn-small btn-secondary" href="/privacy">Read policy</a>
        <button class="btn btn-primary btn-small" id="cookie-popup" aria-label="Click here to close Cookie information popup">Ok</button>
    </div>
</div>
