<div class="cookie-info">
    <p>This website uses cookies to ensure you get the best experience on our website.</p>
    <button class="button button-primary" id="cookie-popup" aria-label="Click here to close Cookie information popup">Got it!</button>
</div>
