<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div><span class="icofont-copyright"></span> 2021 Dev-Academy.com</div>
            <ul class="footer-navigation">
                <li><a href="<%- url_for('/terms') %>">Terms and Conditions</a></li>
                <li><a href="<%- url_for('/privacy') %>">Privacy</a></li>
            </ul>
        </div>
    </div>
</footer>