<footer class="footer">
    <div class="footer-navigation">
        <div class="container">
            <div class="footer-navigation-columns">
                <div class="footer-navigation-column">
                    <h4 class="border">Contact</h4>
                    <ul class="footer-navigation-contact">
                        <li>
                            <a href="https://bartosz.io" rel="noopener nofollow noreferrer" target="_blank" data-ph="footer-nav__link_contact_bartoszio">
                                <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.3335C1 4.22893 1.89543 3.3335 3 3.3335H19C20.1046 3.3335 21 4.22893 21 5.3335V15.5002C21 16.6047 20.1046 17.5002 19 17.5002H3C1.89543 17.5002 1 16.6047 1 15.5002V5.3335Z" stroke="#6E7191" stroke-width="2" stroke-linejoin="round"/>
                                    <path d="M2.42131 4.63636C1.91709 4.17416 2.24409 3.3335 2.9281 3.3335H19.0719C19.7559 3.3335 20.0829 4.17416 19.5787 4.63636L13.0272 10.6419C11.8802 11.6933 10.1198 11.6933 8.97283 10.6419L2.42131 4.63636Z" stroke="#6E7191" stroke-width="2" stroke-linejoin="round"/>
                                </svg>
                                bartosz.io
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/bartosz_io" rel="noopener nofollow noreferrer" target="_blank" data-ph="footer-nav__link_contact_twitter">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.55016 21.7502C16.6045 21.7502 21.5583 14.2469 21.5583 7.74211C21.5583 7.53117 21.5536 7.31554 21.5442 7.1046C22.5079 6.40771 23.3395 5.5445 24 4.55554C23.1025 4.95484 22.1496 5.21563 21.1739 5.32898C22.2013 4.71315 22.9705 3.74572 23.3391 2.60601C22.3726 3.1788 21.3156 3.58286 20.2134 3.80085C19.4708 3.01181 18.489 2.48936 17.4197 2.3143C16.3504 2.13923 15.2532 2.32129 14.2977 2.83234C13.3423 3.34339 12.5818 4.15495 12.1338 5.14156C11.6859 6.12816 11.5754 7.23486 11.8195 8.29054C9.86249 8.19233 7.94794 7.68395 6.19998 6.79834C4.45203 5.91274 2.90969 4.66968 1.67297 3.14976C1.0444 4.23349 0.852057 5.51589 1.13503 6.73634C1.418 7.95678 2.15506 9.02369 3.19641 9.72023C2.41463 9.69541 1.64998 9.48492 0.965625 9.10617V9.1671C0.964925 10.3044 1.3581 11.4068 2.07831 12.287C2.79852 13.1672 3.80132 13.7708 4.91625 13.9952C4.19206 14.1934 3.43198 14.2222 2.69484 14.0796C3.00945 15.0577 3.62157 15.9131 4.44577 16.5266C5.26997 17.14 6.26512 17.4808 7.29234 17.5015C5.54842 18.8714 3.39417 19.6144 1.17656 19.6109C0.783287 19.6103 0.390399 19.5861 0 19.5387C2.25286 20.984 4.87353 21.7516 7.55016 21.7502Z" fill="#6E7191"/>
                                </svg>
                                bartosz_io
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bpietrucha/" rel="noopener nofollow noreferrer" target="_blank" data-ph="footer-nav__link_contact_linkedin">
                                <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0ZM11.5216 19.8778H16.9605V36.2196H11.5216V19.8778ZM17.3188 14.8227C17.2835 13.2204 16.1377 12 14.277 12C12.4164 12 11.2 13.2204 11.2 14.8227C11.2 16.3918 12.3805 17.6473 14.2064 17.6473H14.2412C16.1377 17.6473 17.3188 16.3918 17.3188 14.8227ZM30.3131 19.4941C33.8922 19.4941 36.5754 21.8303 36.5754 26.8497L36.5752 36.2196H31.1365V27.4767C31.1365 25.2807 30.3494 23.7822 28.3805 23.7822C26.8779 23.7822 25.9829 24.7924 25.5898 25.7682C25.446 26.1178 25.4107 26.605 25.4107 27.0934V36.22H19.9711C19.9711 36.22 20.0428 21.4117 19.9711 19.8783H25.4107V22.1929C26.1325 21.0802 27.4254 19.4941 30.3131 19.4941Z" fill="#6E7191"/>
                                </svg>
                                B. Pietrucha
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-navigation-column">
                    <h4 class="border">Academy ⭐</h4>
                    <ul>
                        <li><a href="/secure-coding-training" data-ph="footer-nav__link_academies_sct">Secure Coding Training 👨‍🏫</a></li>
                        <li><a href="https://websecurity-academy.com/" data-ph="footer-nav__link_academies_wsa">Web Security Academy 🛡</a></li>
                        <li><a href="https://fullstack-testing.com/" data-ph="footer-nav__link_academies_fta">Fullstack Testing Academy 🧪</a></li>
                    </ul>
                </div>
                <div class="footer-navigation-column">
                    <h4 class="border">Courses</h4>
                    <ul>
                        <li><a href="https://courses.dev-academy.com/p/web-security-fundamentals" data-ph="footer-nav__link_courses_wsf">Web Security Fundamentals course</a></li>
                        <li><a href="https://courses.dev-academy.com/p/web-e2e-testing" data-ph="footer-nav__link_courses_e2e">FREE Web e2e testing course</a></li>
                    </ul>
                </div>
                <div class="footer-navigation-column">
                    <h4 class="border">Blog</h4>
                    <ul>
                        <li><a href="/tags/security/" data-ph="footer-nav__link_blog_security">Security</a></li>
                        <li><a href="/tags/architecture/" data-ph="footer-nav__link_blog_architecture">Architecture</a></li>
                        <li><a href="/tags/angular/" data-ph="footer-nav__link_blog_angular">Angular</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-privacy">
        <div class="container">
            <div class="footer-copyright"><span class="icofont-copyright"></span><%- date(Date.now(), 'YYYY') %> Dev-Academy.com</div>
            <ul class="footer-privacy-navigation">
                <li><a href="https://courses.dev-academy.com/p/terms" data-ph="footer-nav__link_privacy_terms">Terms and Conditions</a></li>
                <li><a href="https://courses.dev-academy.com/p/privacy" data-ph="footer-nav__link_privacy_policy">Privacy policy</a></li>
                <li><a onclick="window.CookieConsent.show()" data-ph="footer-nav__link_privacy_cookies">Cookie settings</a></li>
            </ul>
        </div>
    </div>
</footer>