<header class="header">
    <div class="header-title">
        <a href="<%- url_for('/') %>"><img src="<%- url_for('/img/dev-academy-logo.png') %>" width="60" height="49" alt="Dev Academy Logo" class="header-logo"></a>
        <h1>
            <a href="<%- url_for('/') %>" id="logo-text">Dev Academy</a>
            <small>Previously Angular Academy</small>
        </h1>
    </div>
    <div class="header-menu">
        <nav class="header-nav">
            <ul>
                <li><a class="header-nav-link header-nav-link-highlighted" href="https://courses.dev-academy.com">Courses 🤓</a></li>
                <li><a class="header-nav-link" href="https://www.youtube.com/channel/UCcJutJNPZVG5sbp_xaTmKEw">YouTube</a></li>
                <li><a class="header-nav-link" href="https://tuesday.websecurity-academy.com">WS-Tuesday 📆</a></li>
            </ul>
        </nav>
        <button class="header-nav-toggle" aria-label="Click here to open the mobile menu">
            <span class="icofont-navigation-menu"></span>
        </button>
    </div>
</header>