<% if (page.total > 1){ %>
    <nav class="pagination">
        <%- paginator({
            prev_text: "<span class='prev-icon'></span>",
            next_text: "<span class='next-icon'></span>",
            escape: false,
            force_prev_next: true
        }) %>
    </nav>
<% } %>
