<div class="post-idea">
    <img src="<%- url_for('/img/ninja-post-idea.svg') %>" alt="">
    <h5 class="post-idea-header">Have an idea for a post?</h5>
    <a href="/contributors" class="button button-primary">Click and join us</a>
</div>