<aside class="sidebar">
    <a class="sidebar-img" href="https://dev-academy.teachable.com/p/web-security-fundamentals">
        <img src="/img/wsf_bundle.gif" alt="" loading="lazy">
    </a>
    <div class="sidebar-info">
        <p>Join <span class="bold">+<span class="subs" id="sub-count"></span></span> subscribers that receive latest knowledge and tips 🚀</p>
        <a class="button button-primary" data-formkit-toggle="e4bf864ac2" href="https://dev-academy.ck.page/e4bf864ac2">Subscribe</a>
    </div>
    <div class="sidebar-author">
        <img class="sidebar-author-image" width="120" height="120" src="<%- url_for('/img/bartosz-pietrucha.jpg') %>" alt="Bartosz Pietrucha">
        <div class="sidebar-author-details">
            <div class="sidebar-author-name">Bartosz Pietrucha</div>
            <div class="sidebar-author-description">Dev Academy founder,<br>Master of Science in CS,<br>Software consultant</div>
            <a href="https://twitter.com/bartosz_io" class="button button-twitter"><span class="icofont-twitter"></span>@bartosz_io</a>
        </div>
    </div>
</aside>