<div class="slack deadlinebefore" style="display:none;">
    <div class="container">
        <div class="slack-content">
            <div class="deal-info">
                <div class="slack-ninja">🥷</div>
                <div class="slack-text">
                    <strong>Web Security Course ⚔️</strong>
                    <span>FLASH SALE: 90% OFF!</span>
                </div>
                <a class="button button-primary button-small slack-button"
                    href="https://dev-academy.teachable.com/p/web-security-fundamentals/?utm_source=blog&utm_medium=slack_bar">Watch FREE lessons!</a>
            </div>
            <div class="deal-time">
                <div>
                    <div class="dfD"></div>
                    <div class="unit">DAYS</div>
                </div>
                <div>
                    <div class="dfH"></div>
                    <div class="unit">HOURS</div>
                </div>
                <div>
                    <div class="dfM"></div>
                    <div class="unit">MINS</div>
                </div>
                <div>
                    <div class="dfS"></div>
                    <div class="unit">SECONDS</div>
                </div>
            </div>
        </div>
    </div>
</div>