<div class="slack">
    <div class="container">
        <div class="slack-content">
            <img src="<%- url_for('/img/slack-logo.png') %>" width="30" height="30" alt="">
            <div class="slack-text">
                <strong>DevAcademy Slack Community</strong>
                <span>Learn with hundreds of devs worldwide!</span>
            </div>
            <a class="button button-primary button-small" href="https://join.slack.com/t/angular-academy/shared_invite/enQtNDY1MjczMDA3ODEzLWRlYzhjMTgwMTJkN2M2MTAxNzcyMGY1MTVhYjZjMDc0NGE0YzI4YjA5NDMwY2IxYmQ2MWJiNTM1NGU0OTA4NDE">Join now</a>
        </div>
    </div>
</div>