<div class="slack">
    <div class="container">
        <div class="slack-content">
            <div class="slack-ninja">🥷</div>
            <div class="slack-text">
                <strong>WebSecurity Academy ⚔️</strong>
                <span>Build bullet-proof Web applications!</span>
            </div>
            <a class="button button-primary button-small" href="https://websecurity-academy.com/">Get FREE lessons!</a>
        </div>
    </div>
</div>