@import '../variables';
@import '../keyframes';

.enriched-agenda-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  counter-reset: chapter;
  column-gap: 1.5rem;
  row-gap: 4.5rem;
  margin-bottom: 6rem;
}

.enriched-agenda {
  counter-increment: chapter;
  display: grid;
  gap: 1.5rem;
}

.enriched-agenda-number {
  content: '';
  display: inline-flex;
  position: relative;
  padding-left: 0.5rem;

  &:before {
    content: counter(chapter);
    display: inline-flex;
    color: $light-100;
    font-size: 1.6rem;
  }
}

.enriched-agenda-column-title {
  background-color: $primary-100;
  color: $light-100;
  border-radius: 2.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1.5rem;
  font-size: $font-size-18;
}

.enriched-agenda-column h3,
.enriched-agenda-lessons,
.enriched-agenda-module-list {
  padding-left: 1rem;
  border-left: .2rem solid $primary-100;
}

.enriched-agenda-module-list {
  list-style-type: disc;
  padding-left: 3rem;

  li {
    padding: 0.25rem 0;
  }
}

.enriched-agenda-column h3 {
  font-weight: 700;
  font-size: 3rem;
  color: $primary-200;
  margin-bottom: 0;
}

.enriched-agenda-lessons {
  font-weight: 700;
  color: $primary-200;
  font-size: $font-size-18;

  > li {
    padding: 1rem 0;

    h4 {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      font-size: $font-size-18;

      &:hover {
        cursor: pointer;
      }

      &:after {
        content: '';
        display: flex;
        flex-shrink: 0;
        margin-left: 1rem;
        width: 3.2rem;
        height: 3.2rem;
        background: url("../img/icons/chevron-down.svg") $light-primary-100;
        border-radius: 1rem;
        transition: $transition-default;
      }

      &[data-collapsed="true"] {
        + .enriched-agenda-module-list {
          display: none;
          opacity: 0;
        }
      }

      &[data-collapsed="false"] {
        + .enriched-agenda-module-list {
          animation-name: opacity;
          animation-duration: 0.5s;
        }

        &:after {
          transform: rotate(180deg);
        }
      }
    }

    .enriched-agenda-module-list {
      font-weight: normal;
      color: #505050;
      font-size: $font-size-16;
      border: 0;
      padding-left: 2rem;
      transition: $transition-default;
    }
  }
}

.enriched-agenda-play {
  font-weight: 700;
  font-size: 1.4rem;
  color: $secondary-100;
  padding: .4rem .8rem .2rem;
  border: .1rem solid $secondary-100;
  border-radius: 1.2rem;
  left: .4rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  line-height: 1.8rem;
  transition: all 0.3s ease;

  &:before {
    content: '';
    margin: -.2rem .6rem -.2rem .4rem;
    display: flex;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: .7rem 0 .7rem 1.2rem;
    border-color: transparent transparent transparent $secondary-100;
    transition: border-color 0.3s ease;
  }

  div {
    display: inline-flex !important;
    width: auto !important;
    height: auto !important;
  }

  &:hover {
    cursor: pointer;
    color: $light-100;
    background-color: $secondary-100;

    &:before {
      border-color: transparent transparent transparent $light-100;
    }
  }
}

.enriched-agenda-disabled {
  opacity: .5;
}