@import '../variables';

.hero {
  margin-bottom: 80px;
  h1 {
    font-family: $font-family-teko;
    font-weight: 500;
    text-transform: uppercase;
    color: $primary-100;
    font-size: 5.4rem;
    line-height: 4.6rem;
    margin-bottom: 0;
  }

  .scream {
    font-style: italic;
    text-transform: none;
  }

  small {
    font-weight: 700;
    font-size: 1.6rem;
  }
}

.hero-left {
  margin-bottom: 8rem;

  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .button {
    width: 100%;
  }
}

.trust {
  margin-top: 4rem;
}

.trust-score {
  font-size: 2rem;

  a:hover {
    text-decoration: underline;
  }
}
.confs {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.confs-desktop {
  display: none;
}