@import '../variables';

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $light-100;
  z-index: $z-index-300;
}

.nav {
  position: relative;
  padding: 0 1rem;
  box-shadow: 0 .2rem .3rem rgb(0 0 0 / 10%), 0 .4rem 1.4rem rgb(0 0 0 / 8%);
  
  &-internal {
    display: flex;
    max-width: 116rem;
    margin: auto;
  }


  &-title {
    display: flex;
    align-items: center;
  }

  &-logo {
    margin-bottom: 4px;
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
      display: flex;
      flex-direction: column;

      font-size: 1.5rem;
      line-height: 140%;
    }

    .primary-highlight {
      background: $primary-100;
      color: white;
      align-items: center;
      border-radius: 4px;
    }
  }

  &-divider {
    flex-grow: 1;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-link {
  color: $primary-100;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  font-weight: 700;

  &:not(.nav-link-highlighted) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-link-highlighted {
  padding: .6rem 1.6rem;
  background-color: $primary-200;
  color: $light-100;
  box-shadow: 0 .2rem .3rem rgb(0 0 0 / 5%), 0 .4rem 1.2rem rgb(0 0 0 / 8%);
  border-radius: 3rem;
  min-width: 6.5rem;
  margin: 1rem;
}

.nav-link-hidden {
  display: none;
}

.nav-padding {
  padding-top: 5.6rem;
}

.counter-nav {
  margin-left: 5px;
  display: flex;

  .counter-price {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 0;
  }

  .counter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px 0;
    font-size: 1.3em;

    .counter-legend {
      font-size: 0.6em;
    }
  }
}