@import '../variables';

.package {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem 4rem;
  box-shadow: 0 .4rem 1.6rem rgb(0 0 0 / 25%);
  border-radius: .8rem;
  background-color: $light-100;

  img {
    margin-bottom: 4rem;
  }
}