.schedule-hidden {
  visibility: hidden;
}

.schedule-days {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-row-gap: 1rem;
}

.schedule-week {
  display: flex;
  flex-direction: column;
}

.schedule-card {
  padding: .2rem 2rem;
  border-radius: .8rem;
  box-shadow: 0 .4rem 1rem rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: .2rem solid transparent;
}

.schedule-card-pink {
  border-color: $secondary-100;

  .schedule-day,
  .schedule-description {
    color: $secondary-100;
  }
}

.schedule-card-purple {
  border-color: $primary-100;

  .schedule-day,
  .schedule-description {
    color: $primary-100;
  }
}

.schedule-card-grey {
  color: $light-500;
}

.schedule-card-highlight {
  border-color: $highlight-100;

  .schedule-day,
  .schedule-description {
    color: $highlight-100;
  }
}

.schedule-date {
  display: flex;
  align-items: center;
}

.schedule-date-top {
  order: 2;
  padding-left: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.schedule-days {
  padding: 1rem;
}

.schedule-day {
  font-size: 3.6rem;
  font-weight: 700;
  width: 4rem;
  display: flex;
  justify-content: center;
}

.schedule-weekday {
  font-weight: 700;
  margin-bottom: .3rem;
}

.schedule-description {
  line-height: 2rem;
  text-align: right;
}

.schedule-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  text-align: center;
}

.schedule-navigation-prev,
.schedule-navigation-next {
  font-size: 3rem;
  font-weight: 700;
  color: $secondary-100;
  top: -6.3rem;
  position: relative;

  &:after {
    font-family: $font-family-ico;
  }

  &:hover {
    cursor: pointer;
  }
}

.schedule-navigation-prev {
  &:after {
    content: "\eac9";
  }
}

.schedule-navigation-next {
  &:after {
    content: "\eaca";
  }
}

.schedule-week-title {
  margin: 3rem auto 0;
}