@import '../variables';

.thank-you {
  .thank-you-wrapper {
    text-align: center;
    img {
      margin: 0 auto;
    }
  }

  .thank-you-highlighted {
    color: $indigo-400;
  }

  .thank-you-information {
    display: none;
  }
}