.footer {
  background-color: $secondary;
  font-size: $font-size-13;
}

.footer-socials {
  display: flex;
  padding: 4rem 0;

  li + li {
    padding-left: 2.5rem;
  }
}

.footer-navigation-column {
  padding-bottom: 4rem;

  h4 {
    font-size: $font-size-18;
    font-weight: 600;
    color: $light-200;
    line-height: 3.2rem;
    margin-bottom: 2rem;
    position: relative;
  }

  ul {
    li {
      padding-bottom: .5rem;

      a {
        display: inline-flex;
        align-items: center;
        line-height: 2.2rem;
        color: $light-200;
        letter-spacing: .025rem;

        img {
          margin-right: 1rem;
          width: 2.2rem;
        }
      }

      + li {
        padding-top: .5rem;
      }
    }
  }
}

.footer-privacy {
  background-color: $navy-500;
  color: $light-500;
  padding: 2rem 0;
}

.footer-privacy-navigation {
  display: flex;

  li {
    a {
      display: inline-flex;
      color: $light-500;
    }

    + li {
      margin-left: 2rem;
      position: relative;

      &:before {
        position: absolute;
        left: -1rem;
        top: .4rem;
        content: '';
        display: flex;
        width: .1rem;
        height: 1.2rem;
        background-color: $light-500;
      }
    }
  }
}

.footer-copyright {
  font-weight: 600;
  font-size: $font-size-15;
  padding-bottom: .5rem;
}