.header {
  background-color: $navy-400;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-300;
}

.header-bar {
  display: flex;
  min-height: 8rem;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-flex;
}

.header-title {
  > a {
    width: 6rem;
    position: relative;
    top: 0.5rem;
  }
  h1, div {
    display: none;
  }
}

.header-nav {
  display: none;
  padding: 3rem 0 1rem;

  &.active {
    display: flex;
  }
}

.header-nav-link {
  color: $light-500;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0;
  transition: color 0.3s ease;

  &:hover {
    color: $light-300;
  }
}

.header-nav-link-content,
.header-nav-toggle-close {
  display: none;
}

.header-nav-toggle-close {

}

.header-nav-toggle {
  &.active {
    .header-nav-toggle-menu {
      display: none;
    }

    .header-nav-toggle-close {
      display: flex;
    }
  }
}