.article {
  ol,
  ul {
    padding-left: 2rem;
    margin-bottom: 2rem;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  .author-academies {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    flex-wrap: wrap;

    li {
      margin-right: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}

.article-header {
  padding-top: 10rem;
  padding-bottom: 2rem;
  background-color: $navy-400;

  h1 {
    font-weight: 800;
    color: $light-300;
    font-size: $font-size-32;
  }
}

.article-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.article-author {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.article-date {
  color: $light-200;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-size-14;
}

.article-details {
  display: flex;
  flex-direction: column;
}

.article-author-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.article-author-name {
  font-weight: 600;
  font-size: $font-size-16;
}

.article-meta {
  padding-bottom: 2rem;
}

.article-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  .text {
    font-size: $font-size-13;
    font-weight: 500;
  }
}

.article-share-list {
  display: flex;

  a {
    display: inline-flex;
    padding: 1rem;
  }
}

.article-comments {
  padding-bottom: 6rem;
}

ul.article-tag-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
}

.article-tag-list-link {
  background-color: $light-125;
  font-size: $font-size-16;
  border-radius: 5rem;
  padding: .5rem 2rem;
  color: $navy-400;
  display: inline-flex;
  transition: background-color $transition-time $transition-type;

  &:hover {
    color: inherit;
    background-color: $hover;
  }
}

.article-tag-list-item {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.article-content {
  img {
    margin: 2rem auto 5rem;
    display: block;
    border-radius: 0.8rem;
  }
}

.article-footer {
  border-top: 1px solid $light-300;
  padding-top: 1rem;
  padding-bottom: 4rem;

  .article-tag-list {
    padding-left: 0;

    a {
      text-decoration: none;
      font-size: $font-size-14;
    }
  }
}

.article-page {
  padding: 3rem 0;
}

.posts {
  @media (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.post {
  margin-bottom: 3rem;

  @media (min-width: 480px) {
    margin-bottom: 0;
  }
}

.post-image {
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 1.7734;
}

.post-content {
  a {
    display: block;

    &:hover {
     .post-title {
       color: $teal-600;
     }
    }
  }
}

.post-time {
  color: $light-600;
  font-size: $font-size-14;
}

.post-title {
  color: $dark-400;
  margin-bottom: 0;
  transition: color $transition-time $transition-type;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 4rem 0 6rem;

  .next,
  .prev {
    align-items: center;
    padding: 1rem;
  }

  [class^='icofont-'] {
    font-size: $font-size-20;
  }
}

.page-number {
  display: none;
}