.article {
  ol,
  ul {
    padding-left: 2rem;
    margin-bottom: 2rem;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }
}

.article-header {
  padding-top: 2rem;
}

.article-meta {
  padding-bottom: 2rem;
}

.article-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.article-author {
  display: flex;
  align-items: center;
}

.article-date {
  color: $light-600;
  list-style-type: disc;
  display: list-item;
  margin-left: 3rem;
}

.article-details {
  display: flex;
  align-items: center;
}

.article-author-name {
  padding-left: 1rem;
}

.article-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}

.article-share-list {
  display: flex;

  a {
    font-size: 4rem;
    padding: 1rem;
    transition: opacity $transition-time $transition-type;

    &.twitter {
      color: $twitter;
    }

    &.facebok {
      color: $facebook;
    }

    &.chat {
      color: $chat;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.article-comments {
  padding-bottom: 6rem;
}

ul.article-tag-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 1.5rem 0 0;
}

.article-tag-list-link {
  text-decoration: underline;

  &:before {
    content: '#';
  }
}

.article-tag-list-item {
  + .article-tag-list-item {
    margin-left: 1rem;
  }
}

.article-content {
  img {
    margin: 2rem auto 4rem;
    display: block;
  }
}

.article-footer {
  border-top: 1px solid $light-300;
  padding-top: 1rem;
  padding-bottom: 4rem;

  .article-tag-list {
    padding-left: 0;

    a {
      text-decoration: none;
      font-size: $font-size-14;
    }
  }
}

.article-page {
  padding: 3rem 0;
}

.posts {
  @media (min-width: 480px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.post {
  margin-bottom: 3rem;

  @media (min-width: 480px) {
    margin-bottom: 0;
  }
}

.post-image {
  border-radius: 1rem;
  width: 100%;
  aspect-ratio: 1.7734;
}

.post-content {
  a {
    display: block;

    &:hover {
     .post-title {
       color: $teal-600;
     }
    }
  }
}

.post-time {
  color: $light-600;
  font-size: $font-size-14;
}

.post-title {
  color: $dark-400;
  margin-bottom: 0;
  transition: color $transition-time $transition-type;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 4rem 0 6rem;

  .next,
  .prev {
    align-items: center;
    padding: 1rem;
  }

  [class^='icofont-'] {
    font-size: $font-size-20;
  }
}

.page-number {
  display: none;
}