.article {
  ol,
  ul {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  .article-share-list {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
  }

  .author-academies {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    flex-wrap: wrap;

    li {
      margin-right: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}

.article-header {
  padding-top: 4rem;
  background-color: $navy-400;

  h1 {
    font-weight: 800;
    color: $light-300;
    font-size: $font-size-32;
  }
}

.article-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.article-author {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.article-date {
  color: $light-200;
  text-transform: uppercase;
  font-weight: 600;
  font-size: $font-size-14;
}

.article-details {
  display: flex;
  flex-direction: column;
}

.article-author-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.article-author-name {
  font-weight: 600;
  font-size: $font-size-16;
  color: $light-200;
}

.article-meta {
  padding-bottom: 2rem;
}

.article-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  .text {
    font-size: $font-size-13;
    font-weight: 500;
  }
}

.article-share-list {
  display: flex;

  a {
    display: inline-flex;
    padding: 1rem;
  }
}

.article-comments {
  padding-bottom: 6rem;
}

.article-sidebar {
  display: none;
}

.article-content-wrapper {
  padding-top: 2rem;
}

.article-content {
  overflow: hidden;

  > ul,
  > ol {
    margin-bottom: 6rem;
  }

  ul,
  ol {
    li {
      padding-top: .5rem;
    }
  }

  picture:first-of-type img {
    margin-top: 0;
  }

  img {
    margin: 2rem auto 5rem;
    display: block;
    border-radius: 0.8rem;
  }

  a:hover {
    color: $teal-300;
    text-decoration: underline;
  }
}

.article-page {
  padding: 3rem 0;
}

.posts {
  padding-bottom: 3rem;
  
  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.post {
  margin-bottom: 3rem;
  box-shadow: 0 .4rem 5rem rgba(0, 67, 86, 0.08);
  border-radius: 1.6rem;

  @media (min-width: 650px) {
    margin-bottom: 0;
  }
}

.post-image {
  border-radius: 1.6rem;
  width: 100%;
  aspect-ratio: 1.7734;
}

.post-content {
  header {
    padding: 0 2.5rem;
  }

  footer {
    padding: 2.5rem 2.5rem 1rem;
  }

  a {
    display: block;

    &:hover {
     .post-title {
       color: $dark-350;
     }
    }
  }
}

.post-time {
  color: $navy-800;
  font-size: $font-size-14;
  display: flex;
  padding-top: .8rem;
}

.post-title {
  color: $teal-300;
  margin-bottom: 0;
  transition: color $transition-time $transition-type;
  font-weight: 600;
  font-size: $font-size-22;

  &:hover {
    color: $dark-350;
  }
}

.posts-listing-header {
  font-size: $font-size-46;
  color: $dark-350;
  line-height: 5.5rem;
  padding-top: 5rem;

  span {
    color: $indigo-600;
  }
}

.post-idea {
  text-align: center;
  background-color: $light-200;
  border-radius: .8rem;
  padding: 5rem 0;
  margin-bottom: 8rem;
  margin-top: 4rem;
}

.post-idea-header {
  font-size: $font-size-22;
  font-weight: 400;
  color: $navy-800;
  letter-spacing: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}