@import '../mixins';

.article {
  ol,
  ul {
    margin-bottom: 2rem;
    padding-left: 2rem;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
  }

  .article-share-list {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
  }

  .contributor-academies {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    flex-wrap: wrap;

    li {
      margin-right: 1rem;
      padding-bottom: 0.5rem;
    }
  }
}

.article-hero {
  margin: auto;
  width: 100%;
  aspect-ratio: 1;
}

.article-header, .podcast-header {
  padding-top: 4rem;
  background-color: $navy-400;

  h1 {
    padding-top: 25px;
    font-weight: 800;
    color: $light-300;
    font-size: $font-size-32;
  }
}

.article-avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.podcast-speakers {
  display: flex;
  flex-direction: column;
}

.article-contributor, .podcast-guest, .podcast-host {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.article-date {
  color: $light-200;
  font-weight: 600;
  font-size: $font-size-14;
  text-transform: capitalize;
}

.article-details, .podcast-details {
  display: flex;
  flex-direction: column;
}

.article-contributor-info, .podcast-guest-info {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.article-contributor-name, .podcast-guest-name {
  font-weight: 600;
  font-size: $font-size-16;
  color: $light-200;
  padding-bottom: .5rem;
}

.podcast-guest-bio {
  color: $light-150;
}

.article-meta {
  padding-bottom: 2rem;
}

.article-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  .text {
    font-size: $font-size-13;
    font-weight: 500;
  }
}

.article-share-list {
  display: flex;

  a {
    display: inline-flex;
    padding: 1rem;
  }
}

.article-comments {
  padding-bottom: 6rem;
}

.article-sidebar {
  display: none;
}

.article-content-wrapper {
  padding-top: 2rem;

  ul,
  ol {
    li {
      padding-top: .5rem;
    }
  }
}

.article-content {
  @include tocScrollMarginTop(10rem);

  overflow: hidden;

  > ul,
  > ol {
    margin-bottom: 6rem;
  }

  picture:first-of-type img {
    margin-top: 0;
  }

  img {
    margin: 2rem auto 5rem;
    display: block;
    border-radius: 0.8rem;
  }

  a:hover {
    color: $teal-300;
    text-decoration: underline;
  }
}

.article-page {
  padding: 3rem 0;
}

.posts, .podcasts {
  padding-bottom: 3rem;
  
  @media (min-width: 650px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

.post, .podcast {
  margin-bottom: 3rem;
  box-shadow: 0 .4rem 5rem rgba(0, 67, 86, 0.08);
  border-radius: 1.6rem;

  @media (min-width: 650px) {
    margin-bottom: 0;
  }
}

.podcast {
  padding-bottom: 1.5rem;
}

.post-figure, .podcast-figure {
  position: relative;
}

.post-reading, .podcast-duration {
  position: absolute;
  color: white;
  top: 22px;
  left: 20px;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1px 8px;
  background: palevioletred;
  font-size: 1.5rem;
}

.podcast-duration {
  top: unset;
  bottom: 1.5rem;
}

.post-image, .podcast-image {
  border-radius: 1.6rem;
  width: 100%;
  aspect-ratio: 1.7734;
}

.podcast-image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.post-content, .podcast-content {
  header {
    padding: 0 2.5rem;
  }

  footer {
    padding: 2.5rem 2.5rem 1rem;
  }

  a {
    display: block;

    &:hover {
     .post-title {
       color: $dark-350;
     }
    }
  }
}

.post-time, .podcast-time {
  color: $navy-800;
  font-size: $font-size-14;
  display: flex;
  padding-top: .8rem;

  span {
    padding-right: .6rem;
  }
}

.post-title, .podcast-title {
  color: $teal-300;
  margin-bottom: 0;
  transition: color $transition-time $transition-type;
  font-weight: 600;
  font-size: $font-size-22;

  &:hover {
    color: $dark-350;
  }
}

.podcast-title {
  margin-top: 2rem;
}

.podcast-listing-header {
  padding-bottom: 5rem;
}

.posts-listing-header {
  font-size: $font-size-46;
  color: $dark-350;
  line-height: 5.5rem;
  padding-top: 5rem;

  span {
    color: $indigo-600;
  }
}

.post-idea {
  text-align: center;
  background-color: $light-200;
  border-radius: .8rem;
  padding: 5rem 0;
  margin-top: 4rem;
}

.post-idea-wrapper {
  padding-bottom: 8rem;
}

.post-idea-header {
  font-size: $font-size-22;
  font-weight: 400;
  color: $navy-800;
  letter-spacing: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.article-toc {
  display: none;
}

.podcast-hero {
  width: 100%;
  background: linear-gradient(to right, lighten($primary, 20%), lighten($secondary, 20%)); 
  text-align: center;
  color: $light-300;
  padding: 20px;
  margin: 5rem 0;
  border-radius: 1rem;

  &-header {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 8px black;
  }

  &-description {
    font-size: 1em;
    margin-bottom: 30px;
  }

  &-buttons {
    a {
      display: inline-block;
      padding: 10px 20px;
      margin: 0 10px 10px;
      text-decoration: none;
      color: $light-300;
      border-radius: 10px;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }

      &.apple {
        background: linear-gradient(145deg, #d3d3d3, #a6a6a6, #8b8b8b);
        color: black;
      }

      &.spotify {
        background: linear-gradient(145deg, #1DB954, #1ed760, #1aa34a);
        color: white;
      }

      &.youtube {
        background: linear-gradient(145deg, #FF0000, #c70000, #a30000);
        color: white;
      }

      &.rss {
        background: linear-gradient(145deg, #FFA500, #cc8400, #b37400);
        color: white;
      }
    }
  }
}