@import '../variables';

.authors-header {
  padding-top: 2rem;
}

.authors-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.author {
  background: $light-150;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  border-radius: .3rem;
  padding: 2rem;
}

.author-header {
  display: flex;
  border-radius: 0.3rem;
  padding-bottom: 2rem;
  flex-direction: column;
}

.author-header-left {
  position: relative;
  flex-shrink: 0;
  flex-basis: 12rem;
}

.author-name {
  margin-bottom: .5rem;
}

.author-description {
  padding-bottom: 3rem;
  line-height: 2.4rem;
  font-size: $font-size-18;
}

.author-header-bio {
  padding-top: 1rem;
}

.author-line-header {
  text-transform: uppercase;
  color: $dark-700;
  font-size: 1.5rem;
  border-bottom: .1rem solid $light-300;
  margin-bottom: 2rem;
}

.author-more {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: $teal-400;
}

.author-contribution {
  padding-bottom: 3rem;
}

.author-contribution-count {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: .5rem;
  padding-top: 1rem;
}

.author-contribution-level {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .2rem;
  text-align: center;
  font-size: 1.4rem;
  color: $light-850;
  text-transform: uppercase;
  font-weight: 600;

  span {
    line-height: 2.8rem;

    &:before,
    &:after {
      content: '';
      width: 100%;
      height: .6rem;
      background-color: $light-200;
      margin-bottom: .5rem;
    }

    &:before {
      display: block;
    }

    &:after {
      display: none;
    }

    &:first-child {
      &:before,
      &:after {
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
      }
    }

    &:last-child {
      &:before,
      &:after {
        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
      }
    }
  }
}

.author-contribution-level-after {
  span:before {
    display: none;
  }

  span:after {
    display: block;
  }
}

.author-contribution-level-beginner {
  span {
    &:nth-child(1) {
      &:before,
      &:after {
        background: linear-gradient(90deg, #4495da, #7477b3);
      }
    }
  }

  &.author-contribution-level-bold {
    span:nth-child(1) {
      font-weight: 700;
    }
  }
}

.author-contribution-level-advanced {
  span {
    &:nth-child(1) {
      &:before,
      &:after {
        background: linear-gradient(90deg, #4495da, #7477b3);
      }
    }

    &:nth-child(2) {
      &:before,
      &:after {
        background: linear-gradient(90deg, #7477b3, #7978df);
      }
    }
  }

  &.author-contribution-level-bold {
    span:nth-child(2) {
      font-weight: 700;
    }
  }
}

.author-contribution-level-expert {
  span {
    &:nth-child(1) {
      &:before,
      &:after {
        background: linear-gradient(90deg, #4495da, #7477b3);
      }
    }

    &:nth-child(2) {
      &:before,
      &:after {
        background: linear-gradient(90deg, #7477b3, #7978df);
      }
    }

    &:nth-child(3) {
      &:before,
      &:after {
        background: linear-gradient(90deg, #7978df, #7a5ed5);
      }
    }
  }

  &.author-contribution-level-bold {
    span:nth-child(3) {
      font-weight: 700;
    }
  }
}

.author-latest-article {
  font-weight: 700;
  color: $dark-100;
  display: block;
  margin-bottom: 1rem;

  &:hover {
    color: $dark-100;
    text-decoration: underline;
  }
}

.author-specs {
  display: flex;
  flex-wrap: wrap;
  padding-top: .5rem;
}

.author-spec {
  display: inline-flex;
}

@mixin author-spec {
  padding: .5rem .7rem;
  border-radius: .4rem;
  margin-right: .6rem;
  margin-bottom: .5rem;
}

.author-spec-angular {
  background-color: $pink-200;
  @include author-spec();

  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/angular.png') no-repeat;
  }
}

.author-spec-nodejs {
  background-color: $purple-100;  
  @include author-spec();  

  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/nodejs.png') no-repeat;
  }
}

.author-spec-react {
  background-color: $teal-200;
  @include author-spec();  

  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/react.png') no-repeat;
  }
}

.author-spec-vue {
  background-color: $green-400;
  @include author-spec();  
  
  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/vue.png') no-repeat;
  }
}

.author-spec-javascript {
  background-color: $yellow-400;
  @include author-spec();

  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/javascript.png') no-repeat;
  }
}

.author-academies {
  padding-bottom: 1rem;

  li {
    font-size: $font-size-14;
    line-height: 1.9rem;
  }

  a {
    color: $light-150;

    &:hover {
      color: $hover;
    }
  }
}

.author-visit {
  text-transform: uppercase;
  font-weight: 600;
  color: $hover;
  font-size: $font-size-16;

  &:hover {
    color: $light-100;
  }
}

.author-info {
  display: flex;
}

.author-info-left {
  position: relative;
  margin-top: -11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.author-info-right {
  position: relative;
  margin-top: 2.5rem;
}

.author-bio {
  .author-name {
    font-size: $font-size-46;
    color: $dark-350;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }

  .author-description {
    padding: 3rem 0;
  }

  .pill:hover {
    cursor: default;
  }

  .author-academies {
    a {
      color: $teal-300;

      &:hover {
        color: $dark-350;
      }
    }
  }
}

.author-joined {
  color: $navy-800;
  font-size: $font-size-18;
}

.author-articles-count {
  background-color: $light-175;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-650;

  span {
    font-size: 2.4rem;
    margin-right: .5rem;
    color: $dark-100;
  }
}

.author-info {
  flex-direction: column;

  .author-academies {
    padding-top: 2.5rem;
    text-align: center;

    li {
      font-size: $font-size-18;
      line-height: 120%;
      padding-bottom: .5rem;
    }
  }
}

.author-motto {
  font-size: $font-size-28;
  font-style: italic;
  padding: 3rem 0;
  text-align: center;
  background-color: $light-200;

  .container {
    &:before,
    &:after {
      content: '"';
    }
  }
}

.author-socials {
  display: flex;
  padding-bottom: 3rem;

  li {
    padding-right: 1.5rem;
  }

  a {
    color: $light-100;
    width: 5rem;
    height: 5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $navy-800;
    border-radius: 50%;
    transition: $transition-time background-color $transition-type;

    &:hover {
      background-color: $hover;
    }
  }
}

.author-posts {
  padding: 7rem 0;
}

.author-short-info {
  background-color: $navy-300;
  border-radius: .8rem;
  padding: 5rem 3rem;
  margin-bottom: 8rem;

  img {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
  }

  .author-academies {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}

.author-short-info-desc {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  h4 {
    margin-bottom: 0;
    font-size: $font-size-36;
    padding-bottom: 1.5rem;

    a {
      color: $light-100;

      &:hover {
        color: $hover;
      }
    }
  }

  .author-contribution-level {
    margin-top: 2rem;
  }
}

.author-profession {
  color: $light-100;
  font-size: $font-size-22;
  display: inline-flex;
}

.author-profession-badge {
  background-color: $yellow-400;
  color: $navy-800;
  font-size: $font-size-14;
  font-weight: 700;
  border-radius: 5rem;
  padding: .8rem 1.6rem;
  text-transform: uppercase;
}

.author-container-space {
  height: 17rem;
  background-color: $navy-400;
}

.author-image {
  max-width: 30rem;
  width: 100%;
  border-radius: 100%;
  border: .3rem solid $light-100;
  filter: drop-shadow(0 .4rem 5rem rgba(0, 67, 86, 0.2));
}