@import '../variables';

.authors-header {
  padding-top: 2rem;
}

.authors-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.author {
  background: $light-150;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  border-radius: .3rem;
  padding: 2rem;
}

.author-header {
  display: flex;
  border-radius: 0.3rem;
  padding-bottom: 2rem;
  flex-direction: column;
}

.author-header-left {
  position: relative;
  flex-shrink: 0;
  flex-basis: 12rem;

  img {
    border-radius: .3rem;
    max-height: 12rem;
  }
}

.author-name {
  margin-bottom: .5rem;
}

.author-description {
  padding-bottom: 3rem;
  line-height: 2.4rem;
}

.author-header-bio {
  padding-top: 1rem;
}

.author-line-header {
  text-transform: uppercase;
  color: $dark-700;
  font-size: 1.5rem;
  border-bottom: .1rem solid $light-300;
  margin-bottom: 2rem;
}

.author-more {
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: $teal-400;
}

.author-contribution {
  padding-bottom: 3rem;
}

.author-contribution-count {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: .5rem;
  padding-top: 1rem;
}

.author-contribution-level {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.4rem;

  span {
    line-height: 1.8rem;

    &:before,
    &:after {
      content: '';
      width: 100%;
      height: .8rem;
      background-color: $light-800;
      margin-bottom: .5rem;
    }

    &:before {
      display: block;
    }

    &:after {
      display: none;
    }

    &:first-child {
      &:before,
      &:after {
        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
      }
    }

    &:last-child {
      &:before,
      &:after {
        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
      }
    }
  }
}

.author-contribution-level-after {
  span:before {
    display: none;
  }

  span:after {
    display: block;
  }
}

.author-contribution-level-beginner {
  span {
    &:nth-child(1) {
      &:before,
      &:after {
        background: linear-gradient(270deg, #7477b3 23.96%, #4495DA 79.49%);
      }
    }
  }

  &.author-contribution-level-bold {
    span:nth-child(1) {
      font-weight: 700;
    }
  }
}

.author-contribution-level-advanced {
  span {
    &:nth-child(1) {
      &:before,
      &:after {
        background: linear-gradient(270deg, #7477b3 23.96%, #4495DA 79.49%);
      }
    }

    &:nth-child(2) {
      &:before,
      &:after {
        background: linear-gradient(270deg, #c44472 23.96%, #7477b3 79.49%);
      }
    }
  }

  &.author-contribution-level-bold {
    span:nth-child(2) {
      font-weight: 700;
    }
  }
}

.author-contribution-level-expert {
  span {
    &:nth-child(1) {
      &:before,
      &:after {
        background: linear-gradient(270deg, #7477b3 23.96%, #4495DA 79.49%);
      }
    }

    &:nth-child(2) {
      &:before,
      &:after {
        background: linear-gradient(270deg, #c44472 23.96%, #7477b3 79.49%);
      }
    }

    &:nth-child(3) {
      &:before,
      &:after {
        background: linear-gradient(270deg, #D73964 23.96%, #c44472 79.49%);
      }
    }
  }

  &.author-contribution-level-bold {
    span:nth-child(3) {
      font-weight: 700;
    }
  }
}

.author-latest-article {
  font-weight: 700;
  color: $dark-100;
  display: block;
  margin-bottom: 1rem;

  &:hover {
    color: $dark-100;
    text-decoration: underline;
  }
}

.author-specs {
  display: flex;
  flex-wrap: wrap;
  padding-top: .5rem;
}

.author-spec {
  display: inline-flex;
}

@mixin author-spec {
  padding: .5rem .7rem;
  border-radius: .4rem;
  margin-right: .6rem;
  margin-bottom: .5rem;
}

.author-spec-angular {
  background-color: $pink-200;
  @include author-spec();

  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/angular.png') no-repeat;
  }
}

.author-spec-nodejs {
  background-color: $purple-100;  
  @include author-spec();  

  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/nodejs.png') no-repeat;
  }
}

.author-spec-react {
  background-color: $teal-200;
  @include author-spec();  

  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/react.png') no-repeat;
  }
}

.author-spec-vue {
  background-color: $green-400;
  @include author-spec();  
  
  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/vue.png') no-repeat;
  }
}

.author-spec-javascript {
  background-color: $yellow-400;
  @include author-spec();  
  
  &:before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: url('/img/icons/javascript.png') no-repeat;
  }
}

.author-academies {
  padding-bottom: 1rem;

  li {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  a {
    color: $teal-400;

    &:hover {
      color: $teal-600;
    }
  }
}

.authors-back-link {
  margin-top: 4rem;
  color: $dark-100;
  font-size: 1.8rem;
  display: inline-flex;
  align-items: center;
  margin-bottom: 4rem;

  .icofont-arrow-left {
    font-size: 3rem;
    margin-right: 1rem;
  }
}

.author-info {
  display: flex;
}

.author-info-left {
  img {
    width: 100%;
    border-radius: .3rem;
  }
}

.author-info-right {
  position: relative;
  margin-top: 2.5rem;
  padding: 0 0 3rem 0;
}

.author-title {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 4rem;
}

.author-bio {
  .author-name {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .author-description {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }

  .pill:hover {
    cursor: default;
  }
}

.author-joined {
  font-style: italic;
  color: $dark-700;
  font-size: 1.4rem;
}

.author-articles-count {
  background-color: $light-175;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-650;

  span {
    font-size: 2.4rem;
    margin-right: .5rem;
    color: $dark-100;
  }
}

.author-info {
  flex-direction: column;

  .author-academies {
    li {
      font-size: 1.5rem;
      line-height: 2.4rem;
    }
  }
}

.author-motto {
  font-size: 2.5rem;
  font-style: italic;
  padding-top: 4rem;
  text-align: center;
  max-width: 75%;
  margin: 0 auto;

  &:before,
  &:after {
    content: '"';
  }
}

.author-socials {
  font-size: 5rem;
  padding-top: 7rem;
  display: flex;
  justify-content: center;

  li {
    padding: 0 1.5rem;
  }

  a {
    color: $dark-100;

    &:hover {
      color: $teal-600;
    }
  }
}

.author-posts {
  padding: 7rem 0;
}

.author-short-info {
  background-color: $light-150;
  border-radius: .4rem;
  padding: 2rem;
  margin-bottom: 4rem;
}

.author-short-info-top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-style: italic;
  color: $dark-700;
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

.author-short-info-bottom {
  display: flex;
  flex-direction: column;

  img {
    border-radius: .4rem;
    width: 12rem;
    height: 12rem;
  }
}

.author-short-info-desc {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 0;

  h4 {
    margin-bottom: 0;
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: .5rem;

    a {
      color: $dark-100;

      &:hover {
        color: $teal-600;
      }
    }
  }

  .author-contribution-level {
    margin-top: 2rem;
  }
}

.author-short-info-count {
  color: $dark-700;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.author-short-info-header {
  display: flex;
  flex-direction: column;

  .author-specs {
    padding-bottom: 1rem;
  }
}