.button {
  color: $light-300;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2rem;
  font-weight: 600;
  border: .1rem solid transparent;
  border-radius: .8rem;
  white-space: nowrap;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .075rem;
  font-size: $font-size-15;
  transition: background-color $transition-time $transition-type,
              color $transition-time $transition-type;

  [class^='icofont-'] {
    padding-right: .3rem;
    font-size: 1.6rem;
  }

  &:hover {
    color: $light-300;
  }
}

.button-primary {
  background-color: $indigo-600;

  &:hover {
    color: $indigo-600;
    background-color: $indigo-150;
  }
}

.button-secondary {
  border-color: $indigo-600;
  color: $indigo-600;

  &:hover {
    color: $light-300;
    background-color: $indigo-600;
  }
}

.button-green {
  background-color: $green-500;

  &:hover {
    background-color: $green-400;
  }
}

.button-large {
  padding: 1.5rem 3rem;
}

.button-block {
  display: block;
  width: 100%;
}

.button-blue {
  background: $teal-300;

  &:hover {
    background-color: $teal-800;
  }
}

.button-small {
  padding: .5rem 1.6rem;
  font-size: 1.4rem;
}

.button-hidden {
  display: none;
}