.cookie-consent {
  position: fixed;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: none;
  max-width: 44rem;
  z-index: $z-index-500;
  padding: $container-gap;
  transition: $transition-default;
  color: $light-200;
  background-color: $dark-600;
  border-radius: .5rem;

  .button {
    min-width: 14rem;
    margin: 0 auto;
    display: block;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
