.main-banner {
  background: $gradient2;
  font-size: $font-size-16;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $top-bar-height-mobile;
  text-align: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $z-index-400;
}

.main-banner-text {
  color: $light-100;
  font-weight: 600;
  padding-bottom: .5rem;
}

.main-banner-counter {
  color: $light-200;
  padding-right: 1rem;
}

.main-banner-link {
  color: $hover;
  text-decoration: underline;
  font-weight: 600;

  &:hover {
    color: $dark-350;
  }
}

.b-bar-top {
  padding-top: 17rem;

  .header {
    top: $top-bar-height-mobile;
  }

  .article-content {
    @include tocScrollMarginTop(20rem);
  }
}

.b-bar-bottom {
  padding-bottom: $top-bar-height-mobile;

  .main-banner {
    top: auto;
    bottom: 0;
  }

  .article-content {
    @include tocScrollMarginTop(10rem);
  }

  .related-posts {
    bottom: 12rem;
  }
}