.main-banner {
  background: #FFDE59;
  font-size: $font-size-14;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: $main-banner-height-mobile;
  text-align: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $z-index-400;
}

.main-banner-text {
  color: $dark-300;
  font-weight: 600;
  padding-bottom: .5rem;
}

.main-banner-counter {
  color: $light-200;
  padding-right: 1rem;
}

.main-banner-bubble {
  display: none;
}

.main-banner-link {
  background-color: $indigo-700;
  border: 1px solid $button-border-color;
  border-radius: 6px;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  color: $light-300;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;

  &:hover {
    color: $light-300;  
    background-color: $indigo-600;
    text-decoration: none;
    transition-duration: 0.1s;
  }
}

.b-bar-top {
  padding-top: calc(#{$header-height-mobile} + #{$main-banner-height-mobile});

  .header {
    top: $main-banner-height-mobile;
  }

  .article-content {
    @include tocScrollMarginTop(20rem);
  }
}

.b-bar-bottom {
  padding-bottom: $main-banner-height-mobile;

  .main-banner {
    top: auto;
    bottom: 0;
  }

  .article-content {
    @include tocScrollMarginTop(10rem);
  }

  .related-posts {
    bottom: 12rem;
  }
}