.optin {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem 0 5rem;

  .optin-img {
    margin: 0;
    border-radius: 0;
  }
}
.optin-wrapper {
  background-color: $indigo-650;
}

.optin-content {
  position: relative;
  z-index: $z-index-100;
  width: 100%;
  padding: 0 3rem;
  bottom: .3rem;
  background-color: $indigo-650;

  .button-primary {
    background-color: $indigo-400;

    &:hover {
      background-color: $indigo-700;
      color: inherit;
    }
  }

  > div.seva-overlay {
    max-width: 36rem !important;
    margin: 0 auto;
  }
}

.optin-wrapper {
  display: inline-flex;
  flex-direction: column;
}