@import '../variables';

.related-posts {
  position: fixed;
  left: 2rem;
  right: 2rem;
  bottom: 4rem;
  z-index: $z-index-100;
  display: none;
  box-sizing: border-box;

  &.visible {
    display: flex;
  }
}

.review-screen {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: $gradient;
  margin-bottom: 3rem;
  padding: 1rem;
  color: white;
  text-align: center;

  .review-screen-img {
    border: 1px solid $light-700;
    margin: 0 0 1rem 0;
  }
}

.related-post {
  position: relative;
  border-radius: .8rem;
  background: $gradient;
  color: $light-150;
  box-shadow: 0 .1rem .4rem $dark-500;
  width: 100%;

  figure {
    display: none;
  }

  &:hover {
    color: $light-150;
  }
}

.related-post-inner {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 2rem 1.5rem;
}

.related-post-meta {
  display: none;
}

.related-post-footer {
  padding-left: 1rem;
}

.related-post-next {
  color: $light-900;
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 500;
  letter-spacing: .025rem;
}

.related-post-title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin: 0;
  color: $light-150;
}

.related-post-close {
  position: absolute;
  top: -2.5rem;
  right: 0;
  font-size: 2.5rem;
  color: $light-400;
  width: 5rem;
  height: 5rem;
  background: $navy-600;
  line-height: 5rem;
  text-align: center;
  border-radius: 50%;
}