ul.tag-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;

  .tag-list-item:last-of-type {
    margin-right: 0;
  }
}

.tag-list-link {
  background-color: $light-125;
  font-size: $font-size-16;
  border-radius: 5rem;
  padding: .5rem 2rem;
  color: $navy-400;
  display: inline-flex;
  transition: background-color $transition-time $transition-type
              color $transition-time $transition-type;

  &.active {
    background-color: #130B37;
    color: $light-100;
    transition: none;

    &:hover {
      color: $light-100;
    }
  }

  &:hover {
    color: $teal-300;
  }
}

.tag-list-item {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.tag-list-all {
  padding-top: 2.5rem;
  padding-bottom: 5.5rem;

  .tag-list-item {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}