.toc {
  padding-bottom: 6rem;

  > ul {
    position: relative;
    padding-left: 4rem;

    &:before {
      content: '';
      position: absolute;
      top: 0.5rem;
      left: 0;
      width: .2rem;
      background-color: $light-500;
      display: flex;
      height: calc(100% - 1rem);
      border-radius: 50%;
    }
  }

  ul, ol {
    margin-bottom: 0;
    list-style: none;
  }

  a {
    font-size: $font-size-16;
    position: relative;
    color: $menu-link-color;

    &:before {
      content: '';
      transition: background-color $transition-time $transition-type;
      position: absolute;
      top: .9rem;
      left: -1.6rem;
      width: .4rem;
      height: .4rem;
      border-radius: 50%;
      display: flex;
      background-color: $teal-300;
    }

    &:hover {
      color: $dark-350;
      text-decoration: none;

      &:before {
        background-color: $dark-350;
      }
    }
  }
}